.article-head {

  &.beerpay-product {
    background: #333 url("../images/slides/beerpay-desktop.jpg") center center;
    background-size: cover;

    @include media($tablet) {
      background-image: url("../images/products/beerpay/bg-mobile-beerpay.jpg");
    }
  }

  &.copernicus-develops {
    background: #333 url("../images/slides/copernicus-desktop.jpg") center center;
    background-size: cover;

    @include media($tablet) {
      background-image: url("../images/works/copernicus-develops/bg-tablet.jpg");
    }

    @include media($mobile) {
      background-image: url("../images/works/copernicus-develops/bg-mobile.jpg");
    }
  }

  &.hirolabs {
    background: #fff url("../images/slides/hirolabs-desktop.jpg") center center;
    background-size: cover;

    @include media($tablet) {
      background-image: url("../images/works/hirolabs/bg-mobile-hirolabs.jpg");
    }
  }

  &.scrapfy {
    background: #fff url("../images/products/scrapfy/scrapfy-wall.png") center center;
    background-size: cover;

    .content h1 {
      float: left;
      text-align: left;
    }
  }

  &.startups-500 {
    background: #fff url("../images/works/500-startup/bg-desktop.jpg") center center;
    background-size: cover;

    @include media($tablet) {
      background-image: url("../images/works/500-startup/bg-mobile-500-startup.jpg");
    }

    .content h1 {
      float: left;
      text-align: left;
    }
  }
}

.container {
  @include outer-container();

  .content {
    @include span-columns(12);
  }

  .content h1 {
    color: white;
    font-weight: 100;
    margin: 130px 0;
    font-size: 30pt;
    max-width: 400px;
    float: left;
    padding: 0 15px;
    text-align: right;

    &.fix-title {
      float: left;
      text-align: left;
    }

    &.fl-right {
      float: right;
    }

    @include media($mobile) {
      font-size: 26pt;
      float: none;
      text-align: center;
    }
  }

  .content h2 {
    font-size: 25pt;
  }

  .left-image-article {
    width: 120px;
    margin-right: 15px;
    float: left;
    vertical-align: middle;
  }

  .right-image-article {
    width: 120px;
    margin-left: 15px;
    float: right;
    vertical-align: middle;
  }

  .full-image-article {
    width: 100%;
    margin:0 ;
    float: none;
    vertical-align: middle;
  }

  .middle {
    width: 40%;
    margin-right: 15px;
    float: left;
  }

  .full {
    width: 100%;
  }

  .article-navegation {
    @include span-columns(10);
    @include shift(1);

    .next {
      float: right;
      border-right: 1px solid rgba(0,0,0,.1);
      padding-right: 15px;
      text-align: right;
    }

    .prev {
      float: left;
      border-left: 1px solid rgba(0,0,0,.1);
      padding-left: 15px;
    }

    .next,
    .prev {
      margin-bottom: 25px;
      margin-top: 25px;

      h3 {
        margin: 0;
        color: #f85d5d;
      }
      strong {
        text-transform: uppercase;
        font-size: 8pt;
        color: rgba(0,0,0,.3);
      }

      @include media($mobile) {
        float: none;
        width: 100%;
        padding: 0;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);

      }

    }

  }
}

.tags {

  p {
    text-transform: uppercase;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 100;
  }
}

.outfocus {
  @include span-columns(8);
  @include shift(2);

  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  padding: 20px 0;
  margin-top: 30px;
  border-top: 1px solid #eee;

  a {
    border-radius: 6px;
    background: #f85d5d;
    color: #fff;
    display: inline-block;
    margin: 0;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    text-align: center;
    width: auto;
  }
  small {
    display: block;
    margin-top: 10px;
    font-size: 10pt;
    font-weight: bold;
  }
}

.article-content {
  @include span-columns(8);
  @include shift(2);

  @include media($tablet) {
    @include span-columns(12);
    @include shift(0);
    padding: 0 15px;
  }

  p {
    line-height: 24pt;
    font-size: 13pt;
  }

  a {
    color: #f85d5d;
  }

  img {
    width: 100%;
  }

  .icon-app {
    width: 36px;
    float: left;
    border-radius: 20%;
    position: relative;
    top: 5px;
    margin-right: 10px;
  }

  .text-center {
    width: 100%;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 60px;

    a {
      background: #f85d5d;
      padding: 10px 25px;
      color: white;
      border-radius: 6px;
    }
  }

  ul {
    margin: 0;
    margin-left: 15px;

    li {
      list-style: disc;
    }
  }
}

.article-image {
  @include span-columns(8);
  @include shift(2);
  margin-top: 40px;
  margin-bottom: 10px;

  img {
    width: 100%;
  }
}

.contact-footer {
  background: #f85d5d;
  width: 100%;
  padding: 30px 0 30px 0;
  text-align: center;

  p {
    padding-bottom: 40px;
    font-size: 16pt;
    color: #fff;
    font-weight: 100;
    max-width: 500px;
    margin: 0 auto;
  }

  h2 {
    color: #fff;
    font-size: 26pt;
    margin-top: 0;
    margin-bottom: 15px;
  }

  form {
    margin: 0 auto;
    width: 413px;

    @include media($tablet) {
      width: 100%;
    }


    & > div {
      display: table-cell;
      width: 50%;

      &:nth-of-type(1) {
        padding-right: 8px;
      }

      &:nth-of-type(2) {
        padding-left: 8px;
      }


      input {
        width: 100%;
      }
    }

    input, textarea {
      background: #fff;
      width: 100%;
      border-color: transparent;
      resize: none;
    }

    .submit {
      float: none;
      font-size: 12pt;
    }

    @include media($tablet) {
      padding: 0 15px;
    }
  }

  button {
    border-radius: 6px;
    color: #f85d5d;
    padding: 15px 30px;
    font-size: 16pt;
    background: #fff;

    @include media($tablet) {
      font-size: 16pt;
    }
  }
}
.square-list{
  display: table;
  width: 100%;
  margin: 0;

  li {
    display: inline-block;
    width: 50%;
    list-style: none;
    text-align: center;
    font-size: 18pt;
    padding-top: 30px;
    padding-bottom: 30px;

    &:nth-of-type(1), &:nth-of-type(2) {
      border-bottom: 1px dotted #eee;
    }

    &:nth-of-type(1), &:nth-of-type(3) {
      border-right: 1px dotted #eee;
    }

    @include media($mobile) {
      font-size: 10pt;
    }
  }
}