$primary-color: #f85d5d;

$smallest: new-breakpoint(max-width 360px);
$mobile: new-breakpoint(max-width 500px);
$tablet: new-breakpoint(max-width 1100px);
$laptop: new-breakpoint(max-width 1280px);
$laptop-min: new-breakpoint(min-width 1100px);
$desktop: new-breakpoint(min-width 1300px);
$desktopBig: new-breakpoint(min-width 1600px);
$desktop4K: new-breakpoint(min-width 2000px);

@mixin transition($trans) {
  transition: $trans all ease-in-out;
  -webkit-transition: $trans all ease-in-out;
  -moz-transition: $trans all ease-in-out;
  -o-transition: $trans all ease-in-out;
}

// ARROW FRAMES
@keyframes ArrowDown {
  0% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(-8px);
  }
}
@-webkit-keyframes ArrowDown {
  0% {
    -webkit-transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(-8px);
  }
}
@-moz-keyframes ArrowDown {
  0% {
    -moz-transform: translateY(-8px);
  }
  40% {
    -moz-transform: translateY(8px);
  }
  100% {
    -moz-transform: translateY(-8px);
  }
}
@-o-keyframes ArrowDown {
  0% {
    -o-transform: translateY(-8px);
  }
  40% {
    -o-transform: translateY(8px);
  }
  100% {
    -o-transform: translateY(-8px);
  }
}
// ROTATION FRAMES
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
    -o-transform-origin: 50% 50%;
  }
  100% {
    -o-transform: rotate(360deg);
  }
}

// TRANSITION SCALE SHINE
@-webkit-keyframes scaleShine {
  0% {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes scaleShine {
  0% {
    -moz-transform: scale(0);
  }
  80% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes scaleShine {
  0% {
    -o-transform: scale(0);
  }
  80% {
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes scaleShine {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
// PRINCIPAL DOGGER SHOW
@keyframes principalDogger {
  0% {
    transform: translate(0 , 50px);
    opacity: 0;
  }
  100% {
    transform: translate(0 , 0);
    opacity: 1;
  }
}
@-webkit-keyframes principalDogger {
  0% {
    -webkit-transform: translate(0 , 50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0 , 0);
    opacity: 1;
  }
}
@-moz-keyframes principalDogger {
  0% {
    -moz-transform: translate(0 , 50px);
    opacity: 0;
  }
  100% {
    -moz-transform: translate(0 , 0);
    opacity: 1;
  }
}
@-o-keyframes principalDogger {
  0% {
    -o-transform: translate(0 , 50px);
    opacity: 0;
  }
  100% {
    -o-transform: translate(0 , 0);
    opacity: 1;
  }
}
// RUBY ANIMATION
@keyframes rubyHome {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rubyHome {
  0% {
    -webkit-transform: scale(0);
  }
  80% {
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes rubyHome {
  0% {
    -moz-transform: scale(0);
  }
  80% {
    -moz-transform: scale(1.3);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes rubyHome {
  0% {
    -o-transform: scale(0);
  }
  80% {
    -o-transform: scale(1.3);
  }
  100% {
    -o-transform: scale(1);
  }
}
// FONT

ul {
  padding: 0;
}
ul li {
  list-style: none;
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline:0;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
}
p {
  font-size: 12pt;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
/**************

ICONS

***************/

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?pquqjz');
  src:url('../fonts/icomoon.eot?#iefixpquqjz') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pquqjz') format('truetype'),
    url('../fonts/icomoon.woff?pquqjz') format('woff'),
    url('../fonts/icomoon.svg?pquqjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deploy:before {
  content: "\e900";
}
.icon-idea:before {
  content: "\e901";
}
.icon-structure:before {
  content: "\e902";
}
.icon-test:before {
  content: "\e903";
}
.icon-eich:before {
  content: "\e601";
}
.icon-open-source:before {
  content: "\e603";
}
.icon-products:before {
  content: "\e604";
}
.icon-services:before {
  content: "\e605";
}
.icon-left-bracket:before {
  content: "\e606";
}
.icon-right-bracket:before {
  content: "\e607";
}
.icon-team:before {
  content: "\e608";
}
.icon-menu:before {
  content: "\e609";
}
.icon-twitter:before {
  content: "\e60a";
}
.icon-linkedin:before {
  content: "\e60b";
}
.icon-link:before {
  content: "\e60c";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-arrow-right:before {
  content: "\e60e";
}
.icon-arrow-down:before {
  content: "\e60f";
}
.icon-mobile:before {
  content: "\e610";
}
.icon-skype:before {
  content: "\e611";
}
.icon-phone:before {
  content: "\e612";
}
.icon-home:before {
  content: "\e613";
}
.icon-check:before {
  content: "\e800";
}
.icon-client:before {
  content: "\e801";
}
.icon-uxui:before {
  content: "\e802";
}
.icon-blog:before {
  content: "\e803";
}
.icon-briefcase:before {
  content: "\e804";
}
.icon-email:before {
  content: "\e805";
}
.icon-gallery:before {
  content: "\e904";
}
.icon-art:before {
  content: "\e905";
}
.icon-bootstrap:before {
  content: "\e906";
}
.icon-angular:before {
  content: "\e907";
}
.icon-jquery:before {
  content: "\e908";
}
.icon-mysql:before {
  content: "\e909";
}
.icon-postgres:before {
  content: "\e90a";
}
.icon-rails:before {
  content: "\e90b";
}
.icon-ruby:before {
  content: "\e90c";
}
.icon-uikit:before {
  content: "\e90d";
}

/**************

GENERAL

***************/
.clear {
  clear: both;
}
.btn-blog {
  background: white;
  color: #f85d5d !important;
  padding: 0 25px 7px 25px;
  border-radius: 6px;
}
.text-center {
  text-align: center;
}
.promote-contact {
  @include span-columns(12);
  text-align: center;
  margin-top: 40px;

  a {
    border: 1px solid #f85d5d;
    border-radius: 6px;
    padding: 15px 30px;
    font-size: 20pt;
    color: white;
    background: #f85d5d;

    @include media($tablet) {
      font-size: 16pt;
    }
  }
}
.menu-container {
  display: none;
  @include span-columns(2);
  @include media($tablet) {
    @include span-columns(3);
    padding-left: 15px;
  }
  @include media($mobile) {
    @include span-columns(2);
    display: block;
    padding-left: 0px;
  }
}
.menu-tablet {
  border-radius: 8px;
  border: 1px solid #f85d5d;
  color: #f85d5d;
  display: inline-block;
  display: none;
  font-weight: bold;
  margin: 0;
  margin-top: 9px;
  padding: 4px 0;
  text-align: center;
  width: 120px;
  @include media($tablet) {
    display: block;
  }
  @include media($mobile) {
    display: none;
  }
}
.menu-mobile, .contact-mobile {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #f85d5d;
  color: #f85d5d;
  display: none;
  font-size: 21px;
  height: 36px;
  line-height: 38px;
  margin: 7px 10px 0 10px;
  text-align: center;
  vertical-align: top;
  width: 36px;
  @include media($mobile) {
    display: block;
  }
}
.contact-mobile {
  float: right;
}
.navegation {
  background: #f9f9f9;
  color: $primary-color;
  height: 52px;
  left: 0;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9;

}
@keyframes brochureAnimate {
  0% {
    transform: rotateY(90deg);
    opacity: 1;
  }
  60% {
    transform: rotateY(-15deg)
  }
  85% {
    transform: rotateY(5deg)
  }
  100% {
    transform: rotateY(0deg);
    opacity: 1;
  }
}
.brochure-link {
  height: 48px;
  width: 78px;
  position: fixed;
  z-index: 3;
  right: -1px;
  top: 60px;
  transform-origin: 100% 0;
  animation: brochureAnimate 1s forwards;
  animation-delay: 5s;
  opacity: 0;

  .iron {
    width: 100%;
    height: 10px;
    top: 18px;
    display: block;
    background: #D64A4A;
    position: relative;
    right: -20px;
  }

  a {
    position: absolute;
    bottom: 0;
    border-radius: 1px;
    border: 1px solid #D64A4A;
    background: #f85d5d;
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    div.brochure-icon {
      position: absolute;
      height: 25px;
      width: 26px;
      top: 11px;
      left: 11px;
      transition: .2s ease-in-out all;

      .line-1, .line-2, .line-3 {
        width: 8px;
        height: 25px;
        background: white;
        display: block;
        position: absolute;
        transition: .2s ease-in-out all;
        top: 0;
      }
      .line-1 {
        left: 0px;
        -webkit-transform: skew(0deg, -15deg);
      }
      .line-2 {
        left: 9px;
        -webkit-transform: skew(0deg, 15deg);
      }
      .line-3 {
        left: 18px;
        -webkit-transform: skew(0deg, -15deg);
      }
    }
    &:hover {
      div.brochure-icon {
        top: 11px;
        left: 15px;

        .line-1, .line-2, .line-3 {
          width: 1px;
        }
        .line-1 {
          -webkit-transform: skew(0deg, 0deg);
          top: 0px;
        }
        .line-2 {
          -webkit-transform: skew(0deg, 0deg);
          transform: rotate(-60deg);
          left: 11px;
          top: -6px;
        }
        .line-3 {
         -webkit-transform: skew(0deg, 0deg);
         transform: rotate(60deg);
         left: 11px;
         top: 6px;
        }
      }
    }
  }
}
.navegation-height {
  height: 52px;
}
.head-container {
  @include outer-container;
  height: 100%;
  @include media($mobile) {
    height: 48px;
  }
}
.navegation nav {
  @include span-columns(6);
  @include media($tablet) {
    display: none;
  }
  @include media($mobile) {
    display: none;
  }
}
.logo-container {
  @include span-columns(3);
  margin-top: 7px;
  @include media($tablet) {
    @include span-columns(6);
    text-align: center;
    margin-top: 4px;
  }
  @include media($mobile) {
    @include span-columns(8);
    text-align: center;
    margin-top: 4px;
  }
}
.logo {
  background-position: 1px 6px;
  background-size: contain;
  background: url('../images/logo.svg') no-repeat center center;
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 180px;
  &.christmas {
    background: url('../images/logo-christmas.svg') no-repeat center center;
    width: 230px;
    @include media($tablet) {
      width: 230px;
    }
    @include media($mobile) {
      width: 193px;
      background-size: 100% auto;
    }
  }
  @include media($tablet) {
    width: 160px;
    height: 52px;
    background-position: 0px 3px;
  }
  @include media($mobile) {
    width: 160px;
    height: 50px;
    background-position: 0px 4px;
  }
}
.contact-header-container {
  margin-top: 10px;
  @include span-columns(3);
  text-align: right;
  @include media($tablet) {
    @include span-columns(3);
    padding-right: 15px;
  }
  @include media($mobile) {
    @include span-columns(2);
    padding-right: 0px;
    margin-top: 0;
  }
}
.hashdog-btn {
  border-radius: 6px;
  border: 1px solid $primary-color;
  color: $primary-color;
  display: inline-block;
  font-weight: bold;
  margin-top: 9px;
  margin: 0;
  padding: 4px 0;
  text-align: center;
  width: 120px;

  @include media($mobile) {
    margin-right: 15px;
  }

  @include media($mobile) {
    display: none;
  }
}
.hashdog-btn {
  display: block !important;
}
.contact-btn:hover, .hashdog-btn:hover {
  color: $primary-color;
}
.pull-right {
  float: right;
}
.navegation nav ul {
  padding:0;
  text-align: center;
}
.navegation nav ul li {
  display: inline-block;
  margin: 0px;
  vertical-align: top;
}
.navegation nav ul li a {
  color: $primary-color;
}
.head-container nav ul li a i.icon-left-bracket,
.head-container nav ul li a i.icon-right-bracket {
  left: -5px;
  opacity: 0;
  position: relative;
  top: 5px;
  @include transition(.4s);
}
.head-container nav ul li a i.icon-right-bracket {
  left: initial;
  right: -5px;
}
.head-container nav ul li a:hover i.icon-left-bracket,
.head-container nav ul li a:hover i.icon-right-bracket,
.head-container nav ul li a.active i.icon-right-bracket,
.head-container nav ul li a.active i.icon-left-bracket, {
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  @include transition(.2s);
}
/************

SERVICES - PRODUCTS - WORK - OPEN SOURCE

*************/
.work-section, .products-section, .opensource-section, .services-section, .team-section, .error-section, .contact-section, .our-clients-section {
  background: #444;
  overflow: hidden;
  padding: 50px 0 100px 0;
  position: relative;
  width: 100%;
  z-index: 2;
  @include media($mobile) {
    padding: 20px 0
  }
}
.work-container,
.products-container,
.opensource-container,
.services-container,
.team-container,
.error-container,
.contact-container,
.our-clients-container {
  @include outer-container;
  position: relative;
  text-align: center;
  z-index: 2;
}
.work-content,
.products-content,
.opensource-content,
.services-content,
.error-content,
.contact-content,
.our-clients-content {
  color: #fff;
  @include span-columns(12);
}
.products-section, .services-section {
  background: $primary-color;
}

/*******************
404 PAGE
*******************/
.bg-404 {
  background: url('../images/bg-404.jpg') center center no-repeat;
  background-size: 100% auto;
  height: 729px;
  position: relative;
  width: 100%;
  z-index:2;
  @include media($tablet) {
    height: 450px;
  }
  @include media($mobile) {
    height: 192px;
  }
}
.error-section {
  padding: 10px 0 20px 0;
}
.hands {
  @include outer-container;
}
.left-hand {
  background: url('../images/left-hand.png') no-repeat right center;
}
.right-hand {
  background: url('../images/right-hand.png') no-repeat left center;
}
.left-hand, .right-hand {
  -moz-transform: rotateX(20deg);
  -o-transform: rotateX(20deg);
  -webkit-transform: rotateX(20deg);
  background-size: 90% auto;
  cursor: pointer;
  height: 700px;
  margin-top: 130px;
  perspective: 100px;
  position: relative;
  transform: rotateX(20deg);
  @include span-columns(6);
  @include transition(0.4s);
  @include media($tablet) {
  height: 380px;
  }
  @include media($mobile) {
    height: 296px;
    margin-top: 0;
  }
}
.show-mobile-fix-404 {
  display: none;
  font-weight: normal;
  @include media($tablet) {
    display: block;
  }
}
.hide-mobile-fix-404 {
  display: block;
  @include media($tablet) {
    display: none;
  }
}
.left-hand:hover, .right-hand:hover {
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  @include transition(0.2s);
  @include transition(0.2s);
  margin-top: 160px;
  transform: rotateX(0deg);
  @include media($tablet) {
    margin-top: 0;
  }
  .popover {
    transform: rotateX(0deg);
    opacity: 1;
    @include transition(0.2s);
  }
}
.popover {
  border-radius: 3px;
  color: #fff;
  height: 110px;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  padding: 5px;
  position: absolute;
  text-align: center;
  width: 200px;
  p {
    font-size: 16px;
    margin: 5px 0;
  }
  h3 {
    margin: 10px 0;
  }
  a {
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    margin-top: 9px;
    margin: 0;
    padding: 5px 30px;
  }
  @include media($tablet) {
    display: none;
  }
}
.blue-popover {
  background: #2C7DFF;
}
.red-popover {
  background: #FF2E2E;
}
.border-bottom {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -18px;
  height: 0;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 0;
}
.border-bottom-blue {
  border-top: 20px solid #2C7DFF;
}
.border-bottom-red {
  border-top: 20px solid #FF2E2E;
}
.showing-menu {
  background: rgba(0,0,0,.8);
  height:100%;
  left: 0;
  opacity:0;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -2;
  z-index: 3;
  @include transition(.2s);
}
.showing-menu.active {
  opacity: 1;
  z-index: 3;
  @include transition(.3s);
  pointer-events: auto;
}
.showing-menu ul li a {
  color: #fff;
  font-size: 16px;
  text-align: center;
  @include media($mobile) {
    font-size: 12px;
  }
  &:active {
    background: transparent;
  }
}
.showing-menu ul li a i {
    background: #f85d5d;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 84px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    width: 128px;
  @include media($mobile) {
    font-size: 40px;
    height: 64px;
    line-height: 64px;
    width: 64px;
  }
}
.showing-menu ul li a i.icon-home {
  background-color: #444;
  color: #eee;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.position-center, .position-top, .position-right, .position-bottom, .position-left {
  position: absolute;
  text-align: center;
}
.position-center {
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  top: 50%;
}
.position-top {
  left: 50%;
  margin-left: -64px;
  margin-top: -240px;
  top: 50%;
  @include media($mobile) {
    margin-top: -140px;
    margin-left: -32px;
  }
}
.position-right {
  margin-right: -240px;
  margin-top: -64px;
  right: 50%;
  top: 50%;
  @include media($mobile) {
    margin-top: -32px;
    margin-right: -140px;
  }
}
.position-bottom {
  bottom: 50%;
  left: 50%;
  margin-bottom: -240px;
  margin-left: -64px;
  @include media($mobile) {
    margin-left: -32px;
    margin-bottom: -140px;
  }
}
.position-left {
  left: 50%;
  margin-left: -240px;
  margin-top: -64px;
  top: 50%;
  @include media($mobile) {
    margin-top: -32px;
    margin-left: -140px;
  }
}
.helper-blur {
  width: 100%;
}
.blur {
  -moz-filter: blur(7px);
  -ms-filter: blur(7px);
  -o-filter: blur(7px);
  -webkit-filter: blur(7px);
  filter: blur(7px);
}
.hidden-scroll {
  overflow-y: hidden;
  position: fixed;
}
.loader {
  position: fixed;
  background: url('../images/loader.gif') center center no-repeat #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999999999;
  opacity: 1;
  pointer-events: none;
  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
}
.loader.hideme {
  opacity: 0;
  transition: .2s ease-in-out all;
  -webkit-transition: .2s ease-in-out all;
  -moz-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
}
.link-routed-white {
  border: 1px solid white;
  border-radius: 6px;
  padding: 10px 38px;
}
.gallery-style {
  padding: 30px 0;

  div.container-fluid {
    text-align: center;

    .thumb-link {
      display: inline-block;
      margin: 0;
      padding: 0;

      .thumbnail {
        max-width: 280px;
        height: 170px;
        border: 1px solid #fff;
        transition: .2s ease-in-out all;

        &:hover {
          border: 1px solid #f85d5d;
          transform: scale(1.02);
        }
      }
    }
  }
}
iframe #nav .left-btns .icon {
  display: none;
}
/* tootltops Tipsy */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000;}
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #444; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #444;}
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }



  /*! Lity - v2.1.0 - 2016-09-19
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */.lity{z-index:9990;position:fixed;top:0;right:0;bottom:0;left:0;white-space:nowrap;background:#0b0b0b;background:rgba(0,0,0,0.9);outline:none !important;opacity:0;-webkit-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.lity.lity-opened{opacity:1}.lity.lity-closed{opacity:0}.lity *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.lity-wrap{z-index:9990;position:fixed;top:0;right:0;bottom:0;left:0;text-align:center;outline:none !important}.lity-wrap:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-0.25em}.lity-loader{z-index:9991;color:#fff;position:absolute;top:50%;margin-top:-0.8em;width:100%;text-align:center;font-size:14px;font-family:Arial,Helvetica,sans-serif;opacity:0;-webkit-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.lity-loading .lity-loader{opacity:1}.lity-container{z-index:9992;position:relative;text-align:left;vertical-align:middle;display:inline-block;white-space:normal;max-width:100%;max-height:100%;outline:none !important}.lity-content{z-index:9993;width:100%;-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform .3s ease;transition:-webkit-transform .3s ease;-o-transition:-o-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease, -webkit-transform .3s ease, -o-transform .3s ease}.lity-loading .lity-content,.lity-closed .lity-content{-webkit-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8)}.lity-content:after{content:'';position:absolute;left:0;top:0;bottom:0;display:block;right:0;width:auto;height:auto;z-index:-1;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);box-shadow:0 0 8px rgba(0,0,0,0.6)}.lity-close{z-index:9994;width:35px;height:35px;position:fixed;right:0;top:0;-webkit-appearance:none;cursor:pointer;text-decoration:none;text-align:center;padding:0;color:#fff;font-style:normal;font-size:35px;font-family:Arial,Baskerville,monospace;line-height:35px;text-shadow:0 1px 2px rgba(0,0,0,0.6);border:0;background:none;outline:none;-webkit-box-shadow:none;box-shadow:none}.lity-close::-moz-focus-inner{border:0;padding:0}.lity-close:hover,.lity-close:focus,.lity-close:active,.lity-close:visited{text-decoration:none;text-align:center;padding:0;color:#fff;font-style:normal;font-size:35px;font-family:Arial,Baskerville,monospace;line-height:35px;text-shadow:0 1px 2px rgba(0,0,0,0.6);border:0;background:none;outline:none;-webkit-box-shadow:none;box-shadow:none}.lity-close:active{top:1px}.lity-image img{max-width:100%;display:block;line-height:0;border:0}.lity-iframe .lity-container,.lity-youtube .lity-container,.lity-vimeo .lity-container,.lity-googlemaps .lity-container{width:100%;max-width:964px}.lity-iframe-container{width:100%;height:0;padding-top:56.25%;overflow:auto;pointer-events:auto;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-overflow-scrolling:touch}.lity-iframe-container iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000}.lity-hide{display:none}

.span6 {
  @include span-columns(6);
}
.span12 {
  @include span-columns(12);
}

.hide-mobile {

  @include media($mobile) {
    display: none;
  }
}

.show-mobile {
  display: none;

  @include media($mobile) {
    display: block;
  }
}



