.contact-us-info {
  background: #fff;
  position: relative;
  z-index: 7;
}
.contact-details {
  @include outer-container();
  @include media($tablet) {
    overflow: hidden;
  }
}
.contact-box {
  @include span-columns(6);
  padding-left: 15px;

  @include media($mobile) {
    @include span-columns(12);
    padding: 0 15px;

    form input {
      width: 100%;
    }
  }

  img {
    margin-bottom: -14px;
    margin-top: 70px;

    @include media($mobile) {
      width: 100%;
      margin-top: 0px;
      margin-bottom: -14px
    }
  }
  p {
    margin: 5px 0;
    @include media($mobile) {
      margin: 2px 0;
      font-size: 14px;
      &.p-fix-mobile {
        text-align: center;
      }
    }
  }
  i {
    bottom: -5px;
    display: inline-block;
    font-size: 25px;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: 32px;
    @include media($mobile) {
    margin-right: 0px;
    }
  }
  a {
    border-radius: 4px;
    border: 1px solid $primary-color;
    color: $primary-color;
    display: inline-block;
    margin-top: 6px;
    padding: 5px 36px;
  }
}
.contact-image-bg {
  background: url('../images/contact.png') no-repeat;
  bottom: 0px;
  height: 300px;
  left: 20px;
  position: absolute;
  width: 300px;
  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
  }
}

.contact-image-bg2 {
  background: url('../images/contact-2.png') no-repeat;
  bottom: 0px;
  height: 300px;
  position: absolute;
  right: 0px;
  width: 300px;
  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
  }
}

form {
  max-width: initial;
  margin-bottom: 70px;

  input, textarea {
    padding: 8px 10px;
    height: 48px;
    margin-bottom: 12px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background: #f0f0f0;

    &:nth-of-type(2) {
      margin-right: 0;
    }

  }
  .name, .email {
    width: 49%;
    display: inline-block;
    margin-right: 7px;
  }

  label {
    font-size: 9pt;
    margin-right: 15px;
    margin-top: 12px;
  }

  .checkbox {
    margin-top: 12px;
    margin-right: 5px;
  }

  .message {
    width: 100%;
    display: block;
    height: 80px;
    max-height: 80px;
    margin-bottom: 0 !important;
  }

  .submit {
    float: right;
    margin: 12px 0 0 0;
    border-radius: 6px;
    padding: 4px 0;
    width: 100px;
    border: 1px solid #f85d5d;
    color: #f85d5d;
    background: transparent;
    position: relative;
    height: 48px;
    line-height: 48px;

    span {
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0;
      height: 100%;
    }
  }
  .loader-form {
    position: relative;
    top: 0px;
    display: none;
    margin: 0;
  }
}
.backover {
  position: fixed;
  background: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999999;
  display: none;

  .close {
    position: absolute;
    right: -10px;
    font-size: 9pt;
    top: -10px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    color: white;
    text-align: center;
    background: #f85d5d;
    border-radius: 50%;
  }

  .modal-body {
    position: relative;
    top: 50%;
    padding: 15px;
    left: 50%;
    margin-left: -300px;
    margin-top: -200px;
    width: 600px;
    height: 400px;
    background: url("../images/bg-contact-thanks.png") no-repeat center left #FFBDBD;
    background-size: cover;
    border-radius: 6px;
    box-shadow: -3px 3px 40px rgba(0,0,0,.3);

    .modal-title {
      font-size: 24pt;
      padding: 0;
      width: 200px;
      margin: 0;
      color: #666;
      font-weight: bold;
    }

    small {
      float: left;
      margin-right: 15px;
      margin-top: 25px;
      opacity: .4;
      font-weight: bold;

      span {
        color: #f85d5d;
      }
    }

    .modal-text {
      width: 200px;
      margin: 0;
      padding: 0;
      padding-top: 25px;
      margin-bottom: 90px;

      span {
        font-size: 10pt;
        padding-top: 20px;
        display: block;
      }
      a {
        color: #f85d5d;

        &:hover {
          color: #d74d4d;
        }
      }
    }

    @include media($tablet) {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      left: 0;
    }
  }
}

input[type=text], input[type=email], textarea, button.submit, .name{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

input[type=text]:focus,  input[type=email]:focus, textarea:focus, button.submit:focus, button.submit:active, .name:focus {
  box-shadow: 0 0 5px #f85d5d;
  border: 1px solid #f85d5d;
}

.hire-us .footer-contact {
  display: none;
}

.contact-section {
  background: url(../images/collage-contact.png) no-repeat center center;
  background-size: cover;
}
