
/************

FOOTER

*************/
.team .footer-contact {
  display: none;
}
.team .team-section {
  padding-top: 82px;
}
.footer-space {
  height: 300px;
  pointer-events: none;
  @include media($tablet) {
    display: none;
  }
}
footer {
  bottom: 0;
  left: 0;
  position: relative;
  width: 100%;
  z-index: 0;
  &.footer-404 {
    position: relative;
    height: 312px;
    .foot {
      position: absolute;
      top: 0;
    }
    .foot-bottom {
      position: absolute;
      bottom: 0;
    }
    @include media($mobile) {
      height: 435px;
    }
  }
  @include media($tablet) {
    position: relative;
  }
  @include media($mobile) {
  }
}
.foot {
  background: #333;
  padding: 0;
  width: 100%;
}
.foot-content-top {
  @include outer-container;
  padding: 0 15px;
}
.foot-box {
  @include span-columns(3);
  @include media($mobile) {
    @include span-columns(6);
    padding-left: 10px;
  }
}
.foot-box:nth-of-type(2), .foot-box:nth-of-type(4) {
  @include media($mobile) {
    @include omega();
  }
}
.foot-box {
  h2 {
    margin-bottom: 10px;

    a {
      color: #ccc;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;

      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  ul {
    margin: 0;

    li a {
      color: #ccc;
      font-size: 16px;
      font-weight: 100;

      @include media($mobile) {
        font-size: 16px;
      }
    }
  }
}


.foot-box ul li a::before {
  @include transition(.4s);
  content: "\e60e";
  font-family: 'icomoon';
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-right: 5px;
  line-height: 1;
  padding-right: 4px;
  position: relative;
  speak: none;
  text-transform: none;
}
.foot-box ul li:hover a::before {
  left: 2px;
  @include transition(.1s);
}
.copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
  display: inline-block;
}
.foot-social {
  text-align: center;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  top: 2px;

  ul {
    margin: 0px 0 0px 15px;
    margin-left: -15px;

    li {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background: transparent;
      border-radius: 50%;
      display: inline-block;
      margin-left: 10px;
      text-align: center;
      vertical-align: top;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      a {
        color: #fff;
        display: block;
        font-size: 14px;
      }
    }
  }
}

.foot-bottom {
  background-color: #333;
  width: 100%;
}
.foot-content-top {
  padding-top: 15px;
  padding-bottom: 15px;
  @include outer-container;
}
.logo-footer {
  position: relative;
  top: 4px;
  width: 65px;
}
.quick-contact {
  @include span-columns(6);
  margin-top: 12px;

  form {
    max-width: initial;
    margin: 0;
    width: 100%;
    padding-right: 25px;

    .group {
      width: 100%;
      display: table;
      vertical-align: middle;

      input, .addon {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        background: #373737;
        border: 0;
        margin: 0;
        font-size: 16pt;
        width: auto;
        color: #fff;
      }

      input {
        width: 100%;
        padding-left: 30px;
        border-radius: 8px 0 0 8px;

        &::placeholder {
          color: #797979;
        }
      }

      .addon {
        background: #f85d5d;
        border-radius: 0 8px 8px 0;
        text-align: center;
        width: 30%;

        button {
          background: transparent;
          border: 0;
          color: #fff;
          font-weight: 100;
          width: 100%;
          height: 100%;

          &:focus {
            border: 0;
            outline: 0;
          }
        }
      }
    }

    @include media($mobile) {
      padding-right: 0;
      padding-top: 20px;
    }
  }
  @include media($mobile) {
    @include span-columns(12);
    margin-right: 0;
  }
}