.timeline-Tweet-media {
  display: none !important;
}

.hidden-image {
  visibility: hidden;
  position: fixed;
  top: 0;
  left:0;
  z-index: -999;
}
p.head-title-home {
  font-size: 30pt;
}
.home, .who-we-are, .what-we-made, .what-we-think {
  position: relative;
  z-index: 1;
}
.home {
  background: #fff;
  padding: 120px 0 50px 0;
  width: 100%;
  @include media($desktop) {
    padding: 0px 0 50px 0;
  }
  @include media($mobile) {
    padding: 0 0 50px 0;
  }
}
.home-container {
  @include outer-container;
}
.home-content {
  text-align: center;
  @include span-columns(12);
}
.home-content h1 {
  color: $primary-color;
  font-size: 3em;
  margin-top: 30px;
  width: 70%;
  margin: 30px auto 50px auto;
  font-weight: normal;
  letter-spacing: 1px;

  strong {
    letter-spacing: 0;
  }

  @include media($mobile) {
    font-size: 1.5em;
    position: relative;
    z-index: 2;
  }
}
.logo-ruby-container {
  height: 300px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 300px;
  .dogger-home {
    background-size: 100% 100%;
    background: url("../images/dogger-home.svg") no-repeat center center;
    bottom: 0;
    height: 240px;
    opacity: 0;
    position: absolute;
    width: 300px;
    z-index: 1;
    &.dogger-homeAnim {
      animation: principalDogger 0.4s linear forwards;
      animation-delay: 2.2s;
    }
  }
  .doggerSecondary {
    background: url("../images/secondDogger.svg") no-repeat center center;
    background-size: 100% 100%;
    bottom: 0;
    height: 240px;
    opacity: 0;
    position: absolute;
    width: 300px;
    z-index: 0;
    &.doggerSecondaryAnim {
      animation: principalDogger 0.3s linear forwards;
      animation-delay: 2.5s;
    }
  }
  .doggerThirth {
    background: url("../images/thirthDogger.svg") no-repeat center center;
    background-size: 100% 100%;
    bottom: 0;
    height: 240px;
    opacity: 0;
    position: absolute;
    width: 300px;
    z-index: 0;
    &.doggerThirthAnim {
      animation: principalDogger 0.2s linear forwards;
      animation-delay: 2.8s;
    }
  }
  .spin {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    height: 160px;
    margin-right: -80px;
    position: absolute;
    right: 50%;
    top: -56px;
    width: 160px;
    &.spinAnim {
      animation: scaleShine 0.7s linear forwards;
      animation-delay: 1.2s;
    }
  }
  .shine {
    background: url("../images/shine.svg") no-repeat center center;
    background-size: 100% 100%;
    height: 160px;
    position: absolute;
    width: 160px;
    z-index: 1;
    &.shineAnim {
      animation: spin 30s infinite linear;
    }
  }
  .ruby-home {
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    background: url("../images/ruby-home.svg") no-repeat center center;
    background-size: 100% 100%;
    height: 54px;
    margin-right: -32px;
    position: absolute;
    right: 50%;
    top: 0;
    transform: scale(0);
    width: 65px;
    z-index: 2;
    &.ruby-homeAnim {
      animation: 0.7s rubyHome linear forwards;
      animation-iteration-count: 1;
      animation-delay: 1s;
    }
  }
}
.ruby-great {
  background: url('../images/ruby-great.svg') no-repeat center center;
}
.shine {
  animation: rotation 40s infinite linear;
  @include media($mobile) {
    animation: none;
  }
}
.home-desc {
  @include span-columns(6);
  @include shift(3);
  @include media($mobile) {
    @include span-columns(10);
    @include shift(1);
  }
  p {
    font-size: 14pt;
    color: #ccc;
    letter-spacing: 7px;
    font-weight: 100;
    font-family: "Helvetica", "Arial";

    @include media($mobile){
      font-size: 16px;
    }
  }
}
.button-container {
  margin-top: 80px;
  @include span-columns(12);
  @include media($desktop) {
    margin-top: 0;
  }
  @include media($mobile) {
    margin-top: 0;
  }
}
.go-down {
  color: #ccc;
  font-size: 36px;
  display: inline-block;
  animation: ArrowDown 2s infinite;
  -webkit-animation: ArrowDown 2s infinite;
}
.go-down:hover {
  color: #444;
}
/*****************

WHO WE ARE

******************/
.how-we-do {
  @include outer-container;
  background-color: $primary-color;
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
  max-width: inherit;

  .how-content {
    color: white;

    p.head-title-home {
      margin: 0;
      padding: 60px 0 10px 0;
    }
    .info-bottom {
      padding: 30px 120px;
      font-size: 15pt;
      font-weight: normal;
      font-weight: lighter;
      letter-spacing: 1px;
      line-height: 21pt;
      margin-bottom: 0;
      @include span-columns(12);
    }

    .how-box {
      width: 200px;
      height: 250px;
      display: inline-block;
      position: relative;

      .number {
        position: absolute;
        bottom: -30px;
        left: 50%;
        margin-left: -30px;
        background: #f85d5d;
        border: 1px solid #fff;
        font-size: 28pt;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        display: inline-block;
        vertical-align: bottom;
      }

      .vertical-content {
        position: absolute;
        background: #C64A4A;
        padding: 10px;
        left: 46px;
        bottom: -3px;
        text-align: left;
        width: 40px;
        height: 110px;

        &:nth-of-type(2) {
          right: 46px;
          left: inherit;
        }

        span {
          transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          display: block;
          transform-origin: 0 0;
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          position: absolute;
          bottom: 15px;
        }

        i {
          font-size: 17pt;
          border-radius: 50%;
          position: absolute;
          border: 1px solid #fff;
          display: inline-block;
          background: #f85d5d;
          right: 0px;
          top: -16px;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
        }
      }

      &:nth-of-type(1) .vertical-content:nth-of-type(2) {
        height: 130px;

        @include media($mobile) {
          width: 130px
        }
      }

      &:nth-of-type(2) .vertical-content:nth-of-type(1) {
        height: 140px;

        @include media($mobile) {
          width: 140px
        }
      }

      &:nth-of-type(2) .vertical-content:nth-of-type(2), &:nth-of-type(3) .vertical-content:nth-of-type(1) {
        height: 160px;

        @include media($mobile) {
          width: 160px
        }
      }

      &:nth-of-type(3) .vertical-content:nth-of-type(2) {
        height: 180px;

        @include media($mobile) {
          width: 180px
        }
      }
      p {
        display: none;
      }
    }

    .line {
      width: 80%;
      margin: 0 auto;
      border-top: 1px solid #fff;
    }

    @include media($mobile) {
      @include span-columns(12);

      p.head-title-home {
        padding: 30px 0;
      }
      .line {
        display: none;
      }
      .info-bottom {
        margin: 0;
        padding: 30px 15px;
      }

      .how-box {
        border-left: 1px solid #fff;
        margin: 30px 30px 0 30px;
        width: 70%;
        padding-top: 50px;
        height: 160px;
        margin-bottom: 15px;
        text-align: center;
        padding-top: 20px !important;

        .vertical-content {
          height: 40px !important;
          width: 110px;
          position: relative;
          left: 0;
          bottom: inherit;
          right: 0 !important;
          margin: 15px 0;

          span {
            transform: none;
            position: relative;
            bottom: 0;
            padding-left: 25px;
          }

          i {
            right: -16px;
            top: 0;
          }
        }
        .number {
          font-size: 30pt;
          width: 55px;
          line-height: 55px;
          height: 55px;
          top: -25px;
          left: 0;
          top: 50%;
          margin-top: -27.5px;
        }

        p {
          display: block;
          font-size: 14pt;
          text-transform: uppercase;
        }
        p:first-of-type {
          margin-top: 0;
        }
      }

    }
  }
}
.who-we-are {
  text-align: center;
  width: 100%;
  background: url('../images/background-team.jpg') no-repeat bottom center #222;
  background-size: 100% auto;
  background-position: 0 -17px;

  @include media($mobile) {
    background-position: center;
  }

}
.who-container {
  padding: 230px 0;

  h1 {
    font-size: 14pt;
    font-weight: lighter;
  }

  @include outer-container;
  @include media($mobile) {
    padding: 30px  0 100px 0;
  }
}
.who-content {

  .link-to {
    margin-top: 40px;
    font-size: 14pt;
    background: rgba(255,255,255,.4);
  }

  @include span-columns(12);
  color: #fff;

  @include media($mobile) {
    h1 {
      padding: 0 15px;
      font-size: 14pt;
    }
  }
}
.link-to {
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.link-to-white {
  color: #fff;
}
.icon-routed {
  border-radius: 50%;
  display: inline-block;
  font-size: 22px;
  bottom: -4px;
  position: relative;
  line-height: 32px;
  margin-right: 5px;
  text-align: center;
}
.icon-primary {
  background: #fff;
  color: $primary-color;
}
/*****************

WHAT WE MADE

******************/
.what-we-made {
  background: #fff;
  width: 100%;
  padding: 60px 0;

  @include media($mobile) {
    padding: 26px 0;
  }
}
.what-container {
  @include outer-container;
}
.what-content {
  @include span-columns(12);
  text-align: center;
}
.link-to-salmon {
  color: $primary-color;
}
.link-listContainer {
  @include shift(2);
  @include span-columns(8);
  @include media($tablet) {
    @include span-columns(12);
    @include shift(0);
    padding: 0 15px;
  }
}
.links-list {
  margin: 0;
  margin-left: -40px;

  li .link-to {
    font-size: 12px;
  }

  @include media($tablet) {
    margin-bottom: -30px;
  }
  @include media($mobile) {
    margin-left: 0;
  }
}
ul.links-list li {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 40px;
  vertical-align: top;
  @include media($mobile) {
    margin-left: 0px;
    width: 100%;
  }
  @include media($tablet) {
    margin-bottom: 30px;
  }
}
.icon-secondary {
  background: $primary-color;
  color: #fff;
}
.what-content p.head-title-home {
  color: $primary-color;
}
.what-content p  {
  margin: 80px 0;

  @include media($tablet) {
    margin: 80px 40px;
  }
  @include media($mobile) {
    font-size: 14pt;
    padding: 0 15px;
    margin: 40px 0;

    &.head-title-home {
      font-size: 30pt;
    }
  }
}
.client-logos {
  margin-top: 20px;
  @include span-columns(12);
  ul li {
    display: inline-block;
    font-size: 12px;
    margin: 0 20px 15px 20px;
    vertical-align: top;
    img {
      width: 140px;
      display: block;
    }
  }
  @include media($mobile) {
    margin-top: 20px;
    ul li {
      margin: 0 0 15px 20px;
      img {
        width: 120px;
      }
    }
  }
}
/*****************

WHAT WE THINk

******************/
.what-we-think {
  background: url('../images/cover.svg') no-repeat bottom center #f85d5d;
  background-size: 100% auto;
  color: white;
  height: auto;
  padding: 0 0  60px 0;
  position: relative;
  width: 100%;

  @include media($mobile) {
    padding: 18px 0;
  }
}
.what-think-container {
  @include outer-container;
}
.what-think-content {
  @include span-columns(6);
  text-align: center;

  @include media($mobile) {
    @include span-columns(12);
  }
}
.what-think-content p {
  padding: 0;
  margin: 80px 40px;
  @include media($mobile) {
    font-size: 14pt;
    margin: 30px 15px;
    font-weight: 100;

    &.head-title-home {
      font-size: 30pt;
    }
  }
}
.bg-idea, .bg-note {
  background: url('../images/idea.png') no-repeat;
  bottom: 10%;
  height: 290px;
  position: absolute;
  right: 0;
  width: 300px;
  @include media($mobile) {
    background-size: contain;
    height: 140px;
    width: 150px;
  }
}
.bg-note {
  background: url('../images/note.png') no-repeat;
  left:20px;
  right: initial;

  @include media($mobile) {
    background-size: contain;
    top: 140px;
  }
}

@include media($desktop4K) {
  .headtitle {
    font-size: 40pt;
  }

  .item-key {
    h3 {
      font-size: 28pt;
    }
    i {
      left: -18px;
    }
  }
}