$base: #4A4A4A;
$mutted: #C4C4C4;
$hashdog: #f85d5d;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

.btn-white {
  background: white
}
.btn-base {
  border-radius: 6px;
  background: #f85d5d;
  color: #fff;
  display: inline-block;
  margin-top: 9px;
  margin: 0;
  padding: 0px 0;
  text-align: center;
  min-width: 120px;
  height: 38px;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 9pt;
  transition: .2s ease-in-out all;

  &:hover {
    background: #fa7171;
    color: #fff;
  }
}

@keyframes menuHide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-220px);
  }
}
@keyframes menuShow {
  0% {
    transform: translateX(-220px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.menu {


  .float-menu {
    position: fixed;
    left: -30px;
    background: #333;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 0 0px 0 30px;
    z-index: 9;
    transform: translateX(-220px);

    &.show {
      animation: menuShow .5s ease-in forwards;
    }

    &.hide {
      animation: menuHide .5s ease-out forwards;
    }

    header {
      width: 100%;
      padding: 25px 100px 25px 15px;

      @include media($mobile) {
        display: none;
      }

      img {
        width: 100%;
        background: #fff;
        border-radius: 50%;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        padding: 12px 15px;

        a {
          color: #fff;
          font-size: 12pt;
          font-weight: lighter;
        }

        &:last-of-type {
          background: #f85d5d;
        }
      }
    }
  }
}

@keyframes navBg {
  0% {
    top: -82px;
  }
  100% {
    top: 0;
  }
}

.nav {
  @include outer-container;
  height: 56px;
  width: 100%;
  position: fixed;
  padding: 0 15px;
  z-index: 8;
  max-width: initial;

  &.static {
    &::after {
      background: #fff;
      animation: navBg forwards .5s;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    }
    .logo-rocks {
        background: url(../images/logo.svg) no-repeat center center;


        @include media($mobile) {
          background: transparent;
        }
    }
  }

  &::after {
    background-color: transparent;
    position: absolute;
    content: "";
    width: 110%;
    margin-left: -15px;
    height: 82px;
    z-index: -1;
    top: 0;
    height: 56px;
    transition: background-color .4s;
  }
  &.stick::after {
    background: #fff;
    animation: navBg forwards .5s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .logo-rocks {
    width: 170px;
    height: 56px;
    display: inline-block;
    background: url(../images/logo-white.svg) no-repeat center center;
    transition: background .1s;
    -webkit-transition: background .1s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);

    &.stick {
      -webkit-transition: background .1s;
      transition: background .1s;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
      background: url(../images/logo.svg) no-repeat center center;

      @include media($mobile) {
        background: transparent;
      }
    }

    @include media($mobile) {
      background: transparent;
      width: 100%;
    }

  }

  .btn-menu-container {
    @include span-columns(3);
    transition: .5s ease-in;
    transform: translateX(0px);
    display: table;
    height: 100%;
    position: relative;
    z-index: 9999999999;

    div {
      display: table-cell;
      vertical-align: middle;
    }

    &.move {
      transform: translateX(220px);
      transition: .5s ease-out;
    }

    .btn-menu {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 46px;
      height: 46px;
      font-size: 0;
      text-indent: -9999px;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      background: #333;
      cursor: pointer;
      transition: background 0.3s;
      border-radius: 4px;

      span {
        display: block;
        position: absolute;
        top: 22px;
        left: 10px;
        right: 10px;
        height: 2px;
        background: white;
        border-radius: 6px;
        transition: background 0s 0.3s;


        &::before {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          content: "";
          top: -9px;
          border-radius: 6px;

          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
          transition-property: top, transform;
        }

        &::after {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #fff;
          content: "";
          bottom: -9px;
          border-radius: 6px;

          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
          transition-property: bottom, transform;

        }
      }

      &.move {
        background: #333;

        span {
          background: none;

          &::before {
            top: 0;
            background: #fff;
            transform: rotate(45deg);
            transition-delay: 0s, 0.3s;
          }

          &::after {
            bottom: 0px;
            background: #fff;
            transform: rotate(-45deg);
            transition-delay: 0s, 0.3s;

          }
        }
      }
    }
  }

  .logo-section {
    @include span-columns(6);
    text-align: center;

    a {

      img {
        width: 192px;

        @include media($mobile) {
          display: none;
        }
      }

      .logo-mobile {
        display: none;
        width: 100%;
        height: 48px;

        @include media($mobile) {
          display: block;
          background: url(../images/logo-mobile.svg) no-repeat center center;
          margin-top: 4px;
        }
      }
    }
  }

  .static .logo-section a .logo-mobile {
    @include media($tablet) {
      display: block;
      background: url(../images/logo-mobile.svg) no-repeat center center;
    }
  }

  .contact-section-2 {
    @include span-columns(3);
    height: 100%;
    display: table;

    div {
      display: table-cell;
      vertical-align: middle;
    }

    .contact-btn {
      border-radius: 6px;
      background: $primary-color;
      color: #fff;
      float: right;
      display: inline-block;
      margin: 0;
      font-weight: lighter;
      height: 46px;
      line-height: 46px;
      padding: 0 10px;
      text-align: center;
      width: auto;

      .at {
        display: none;
        margin: 7px 0px 0px -3px;
        width: 34px;
        
        @include media($mobile) {
          margin: 0;
          width: 34px;
        }
      }

      @include media($tablet) {
        width: 48px;

        .at {
          display: block;
        }
        span {
          display: none;
        }
      }

      @include media($mobile) {
        min-width: initial;
        display: flex;
        justify-content: center;
      }
    }

  }

}

.home-section {
  width: 100%;

  .bg-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url(../images/bg-homepage.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: center -60px;

    @include media($desktop) {
      background: url("../images/bg-homepage@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center -60px;
    }
  }


  .your-tech {
    @include span-columns(7);
    margin-right: 0;

    h1 {
      color: #4A4A4A;
      font-size: 160px;
      line-height: 140px;
      word-spacing: -14px;
      margin-top: 50px;
      margin-bottom: 0px;

      span {
        font-weight: normal;
        font-size: 80pt;
        color: $mutted;
        line-height: 60pt;
      }
    }

    @include media($tablet) {
      @include span-columns(12);

      h1 {
        padding-left: 15px;
      }
    }

    @include media($mobile) {
      margin-right: 0;

      h1 {
        line-height: 86px;
        padding-left: 15px;
        font-size: 65pt;

        span {
          font-size: 30pt;
          line-height: 20pt;
        }
      }
    }
    @include media($smallest) {

      h1 {
        line-height: 76px;
        font-size: 55pt;
      }
    }

  }

  .doggers {
    @include span-columns(5);
    position: relative;

    .bg-doggers {
      position: absolute;
      left: -230px;
      top: 121px;
      width: 669px;
      height: 344px;
      background: url(../images/doggers.png) no-repeat;

      @include media($desktop) {
        background: url(../images/doggers@2x.png) no-repeat;
        background-size: 669px 344px;
      }

      @include media($tablet) {
        display: none;
      }
    }
  }

  .subtitle-section {
    @include span-columns(12);

    h2 {
      font-weight: normal;
      width: 100%;
      font-size: 24pt;
      text-align: center;
      margin: 40px 0;
    }

    @include media($mobile) {
      h2 {
        padding: 15px;
        font-size: 22pt;
      }
    }
  }
}

.success-cases {
  background: #eee;

  .container {
    @include outer-container;
    padding: 40px 0 0 0;

    .headtitle {
      padding: 0 0 40px 0;

      h1 {
        padding-top: 0;
        padding-bottom: 0;
        color: #444;
      }
      p {
        margin: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: #777;
        font-size: 10pt;
        margin-top: 5px;
        letter-spacing: 1px;
      }
    }

    .success-item {
      position: relative;

      img {
        width: 70px;
      }

      p {
        margin: 0;
        line-height: 21pt;
      }

      .list {
        width: 100%;
        display: table;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;

        div {
          display: inline-block;
          width: 33%;
          vertical-align: top;
          padding: 0 5px;

          p {
						font-size: 10pt;
						line-height: 17pt;

          }
          i {
            display: block;
            margin: 15px 0 10px 0;
            font-size: 30pt;
          }
        }
      }

      .btn {
        margin-top: 15px;

        &.second {
          margin-top: 43px;
        }
        &.third {
          margin-top: 70px;
        }
      }
      @include media($tablet) {
        .btn {
          &.btn-base {
            margin-top: 15px;
            margin-bottom: 45px;
          }
          &.third {
            margin-top: 99px;
          }
        }

        img {
          width: 170px;
        }
      }

      @include media($mobile) {
        @include span-columns(12);
        padding: 15px;

        p {
          font-size: 14pt;
          line-height: 24pt;
        }

        .list p {
          font-size: 11pt;
          line-height: 18pt;

        }
        .btn {
          font-size: 10pt;


          &.third {
            margin-top: 42px;
          }
        }

        .mobile-divisor {
          position: absolute;
          bottom: 30px;
          border-bottom: 1px solid #ddd;
          width: 180px;
          left: 50%;
          margin-left: -90px;
        }
      }
    }
  }
}
.another-success {
  width: 100%;
  display: table;
  position: relative;

  .bottom-item {
    padding: 0;
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 25px 15px;
    position: relative;

    &.home-bg-500startups {
      background: url("../images/works/500-startup/bg-desktop.jpg") center center;
      background-size: 100%;
      transition: .3s ease-in-out all;
    }
    &.home-bg-hirolabs {
      background: #fff url("../images/slides/hirolabs-desktop.jpg") center center;
      background-size: 100%;
      transition: .3s ease-in-out all;

      .link-container {
        color: #333;
      }
		}
		
		h2 {
			margin-bottom: 10px;
		}

    .overlay {
      background: rgba(0,0,0,.6);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
      pointer-events: none;
      left: 0;

      &.white {
        background: rgba(255,255,255,.7);
      }
    }

    .icon-study {
      width: 90px;
      float: left;
      margin-right: 15px;

      @include media($tablet) {
        width: 80px;
      }
    }

    .link-container {
      position: relative;
      z-index: 1;
      color: white
    }

    &:hover {
      background-size: 130%;
      transition: .3s ease-in-out all;
    }

    p {
      margin: 0;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 15px;
    }

    @include media($tablet) {
      width: 100%;
      display: block;
    }
  }

  .title-success-home {
    position: absolute;
    top: -16px;
    left: 50%;
    color: #333;
    font-size: 10pt;
    padding: 5px 15px;
    z-index: 1;
    background: #E9C45F;
    border-radius: 3px;
    font-weight: bold;
    margin-left: -80px;
    text-transform: uppercase;
    word-spacing: 3px;

    @include media($mobile) {
      top: 0%;
      background: #444;
      color: #fff;
      border-radius: 0;
      width: 100%;
      margin-top: -28px;
      margin-left: 0;
      left: 0;
      text-align: center;
    }
  }
}

.success-item {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: table;

  .section {
    width: 50%;
    display: table-cell;
    vertical-align: top;

    @include media($tablet) {
      width: 100%;
      display: block;
    }

    @include media($mobile) {
      text-align: center;
    }

  }
}
.key-success {
  background: url("../images/bg-success.jpg") no-repeat center center;
  padding: 40px 15px;
  background-size: cover;
  position: relative;
  z-index: 1;

  .mutted {
    background: url("../images/mutted.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .key-container {
    @include outer-container;
    color: #fff;

    .headtitle {
      padding: 0px 0;

      h1 {
        padding: 0 0 40px 0;
      }
    }

    .item-key {
      @include span-columns(6);
      padding-left: 40px;
      padding-right: 15px;
      position: relative;

      i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 22pt;
      }
      h2 {
				margin: 0;
				font-weight: normal;
      }
      p {
        margin-top: 14px;
      }
    }

    @include media($mobile) {
      padding: 0 15px;
    }
  }

  @include media($mobile) {
    background-size: cover;

    .key-container {
      .headtitle {
        margin-right: 0;

        h1 {
          font-size: 26pt;
          padding: 20px 15px 60px 15px;
        }
      }

      .item-key {
        margin-bottom: 20px;

        @include span-columns(12);
        margin-right: 0;

        p {
          font-size: 14pt;
          line-height: 21pt;
        }

        h3 {
          font-size: 15pt;
        }
      }
    }
  }
}

// .study-cases {
//   clear: both;
//   width: 100%;
//   background: rgba(0,0,0,.5);
//   margin-top: 80px;
//   padding: 15px 25px;

//   p {
//     font-size: 24pt;
//     float: left;
//     margin: 4px 0 0 0;
//     color: #fff;
//   }

//   img {
//     float: left;
//     margin-left: 120px;
//     width: 54px;
//   }

//   @include media($mobile) {
//     text-align: center;

//     p {
//       text-align: center;
//       font-size: 24pt;
//       float: none;
//     }
//     img {
//       margin-left: 40px;
//       display: inline-block;
//       margin-top: 20px;
//       float: none;

//     }

//     a:nth-of-type(1) img {
//       margin-left: 0;
//     }

//   }
// }

.headtitle {
  font-weight: normal;
  @include span-columns(12);

  h1 {
    font-size: 30pt;
    padding: 90px 0;
    font-weight: normal;
    margin: 0;
    text-align: center;
    color: #fff;

    @include media($mobile) {
      padding: 0 15px;
    }
  }
}

.product-list {
  background: #fefefe;
  padding: 80px 15px;

  @include media($tablet) {
    margin: 0;
  }

  @include media($mobile) {
    padding: 40px 15px;
  }

  .headtitle {
    padding: 0px 0 80px 0;

    h1 {
      padding: 0;
      margin: 0;
      color: #444;
    }

    p {
      margin: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #777;
      font-size: 10pt;
      margin-top: 5px;
      letter-spacing: 1px;
    }
  }

  .item-product-image {
    @include span-columns(8);

    @include media($mobile) {
      @include span-columns(12);
      margin-bottom: 35px;
    }
  }

  .item-product {
    @include span-columns(4);
    color: #fff;

    .logo-beerpay {
      width: 70px;
    }

    i {
      font-size: 90pt;
    }
    h3 {
      margin-top: 14px;
      color: #444;
    }
    p {
      color: #444;
      line-height: 21pt;
      font-size: 12pt;
    }

    img {
      width: 120px;
    }

    @include media($tablet) {

      a.btn {

        &.third {
          margin-top: 39px;
        }
      }

      img {
        width: 170px;
      }
    }

    @include media($mobile) {
      @include span-columns(12);
      padding: 15px;
      padding-bottom: 0px;
      margin-right: 0;
      position: relative;

      p {
        font-size: 14pt;
        line-height: 24pt;
        text-align: left;
      }

      a.btn {
        margin-top: 30px;
        font-size: 10pt;

        &.third {
          margin-top: 39px;
        }
      }

      .mobile-divisor {
        position: absolute;
        bottom: 30px;
        border-bottom: 1px solid #555;
        width: 180px;
        left: 50%;
        margin-left: -90px;
      }
    }

  }

  .study-cases {
    background: rgba(255,255,255,.5);

    p {
      color: $hashdog;
    }
    img {
      width: 54px;
    }
  }

  &.product-page {
    background: #fff;

    .item-product {

      h3, h4 {
        color: #444 !important
      }

      .btn-base {
        border-color: $hashdog;
        color: $hashdog;
      }
    }
  }
}

.item-product-bottom {
  width: 100%;
  padding: 15px;
  background: #444;
  position: relative;

  .scrapfy-logo {
    width: 30px;
    display: inline-block;
    vertical-align: top;
    margin: 17px 18px 0px 0;
  }
  h2 {
    display: block;
    color: #fff;
    margin-bottom: 15px;
  }

  p {
    vertical-align: top;
    color: #fff;
    display: inline-block;
  }
  i {
    font-size: 80pt;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -265px;
    top: 31px;
    opacity: .1;
    transition: .2s ease-in-out all;

    &.right {
      right: 50%;
      left: inherit;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      margin-right: -265px;
      margin-left: 0;
    }
  }

  &:hover {
    i {
      opacity: .4;
    }
  }
}


.map-container {
  background: $hashdog;
  position: relative;

  .map {
    @include span-columns(4);

    img {
      width: 100%;
    }

    @include media($mobile) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .3;
      z-index: 0;
    }

  }

  .info-map {
    @include span-columns(12);
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;

    .end-to-end-icon {
      width: 146px;
      background: #fff;
      border-radius: 50%;
    }
    .headtitle {
      padding: 25px 0 30px 0;

      @include media($tablet) {
        padding-top: 80px;
        padding-right: 15px;
      }

      h1 {
        padding: 0;
      }
    }

    .item {
      text-align: center;

      h3 {
        margin: 0;
        color: #fff;
      }

      p {
        margin-top: 14px;
        color: #fff;
      }

      a.btn-base {
        border-color: #fff;
        color: #fff;
        margin-top: 15px;

        &:hover {
          background: #fff;
          color: $hashdog;
        }
      }
    }

    @include media($mobile) {
      @include span-columns(12);
      position: relative;
      z-index: 2;
      padding: 90px 15px 90px 15px;

      .headtitle {
        padding-top: 90px;
      }

      p {
        font-size: 14pt;
        line-height: 24pt;
      }

      .btn-base {
        font-size: 10pt;
        background: #fff;
        color: $hashdog !important;
      }
    }
  }
}

#team {
  background: url(../images/background-team.jpg) no-repeat center top;
  padding: 130px 15px;
  background-size: cover;
  position: relative;

  .headtitle h1 {
    padding-top: 0;

    @include media($tablet) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .overlay {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: .5s ease-in-out all;

    &.show {
      opacity: 1;
    }

    @include media($tablet) {
      opacity: 1;
    }

  }

  .container {
    position: relative;
    z-index: 1;
    opacity: 0;
    transition: .5s ease-in-out all;

    &.show {
      opacity: 1;
    }

    @include media($tablet) {
      opacity: 1;
      padding: 0 15px;
    }
  }

  .btn-section-team {
    @include span-columns(12);
    text-align: center;

    .btn-base {
      padding: 0 25px;
      color: #fff;
      width: auto;
      margin-top: 35px;
      border-color: #fff;

      &:hover {
        border-color: #f85d5d;
        text-shadow: 0px 0px 11px rgba(255,255,255,.4);
      }
    }
  }

  .item-team {
    @include span-columns(4);
    padding-left: 40px;
    padding-right: 15px;
    position: relative;
    color: #fff;
    margin-bottom: 20px;

    &.last-item {
      margin-right: 0;
    }

    i {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 22pt;
    }

    h3 {
      margin: 0;
    }

    p, li {
      margin-top: 14px;
    }

    ul {
      margin: 0;
      margin-left: 15px;
      padding-left: 5px;

      li {
        list-style: disc;
      }
    }

    &.middle {
      padding-left: 130px;

      i {
        padding-left: 85px;
      }

      @include media($tablet) {
        padding-left: 80px;

        i {
          padding-left: 35px;
        }
      }

      @include  media($mobile) {
        padding-left: 40px;

        i {
          padding-left: 0;
        }
      }
    }

  }

  @include media($mobile) {
    padding: 90px 15px 90px 15px;

    .item-team {
      @include span-columns(12);
      margin-right: 0;
      margin-bottom: 40px;

      h3 {
        font-size: 15pt;

      }

      ul li {
        font-size: 14pt;
        line-height: 24pt;
      }
    }

    p {
      font-size: 12pt;
      line-height: 18pt;
    }

    .overlay {
      opacity: 1;
      background: rgba(0,0,0,.6);
    }

    .container {
      opacity: 1;
    }

    .headtitle {
      h1 {
        padding-bottom: 60px;
      }
    }
  }
}

footer {

  .footer-contact {
    @include outer-container;
    background: #424242;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 30px 15px;

    .lets-work {
      @include span-columns(6);
      text-align: center;
      color: #fff;

      h3 {
        font-weight: 100;
        font-size: 24pt;
        margin: 0;
      }
      p {
        font-weight: 100;
        margin: 15px 0 0 0;
      }

      @include media($mobile) {
        @include span-columns(12);
        margin-right:0;
      }
    }
  }
  .footer-site {
    @include outer-container;
    max-width: initial;
    background: #2D2D2D;
    margin: 0;
    padding: 25px;

    .left-foot {
      @include span-columns(6);

      .list {
        float: left;
        color: #fff;
        margin-left: 100px;

        &:first-of-type {
          margin-left: 0;
        }

        p {
          font-size: 10pt;
          font-weight: normal;
          margin: 0;
        }
        a {
          font-size: 10pt;
          font-weight: 100;
          color: #fff;
          line-height: 17pt;
        }

        @include media($tablet) {
          margin-left: 70px;
        }

        @include media($mobile) {
          @include span-columns(12);
          float: none;
          display: block;
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          border-bottom: 1px solid #444;

          p {
            font-size: 14pt;
            text-align: center;
            padding: 15px 0;
            display: block;
          }


          ul {
            max-height: 0px;
            overflow: hidden;
            margin: 0;
            background: #404040;
            transition: max-height .2s ease-out;

            li {
              padding: 30px 10px;

              a {
                font-size: 14pt
              }
            }

          }

          &.mobile-foot-show ul {
            transition: max-height .5s ease-out;
            max-height: 300px;
          }
        }
      }

      @include media($mobile) {
        @include span-columns(12);
        margin-right: 0;
      }
    }

    .right-foot {
      text-align: right;
      margin-top: 50px;

      img {
        width: 75px;
        margin: 0;
      }
      h1,p {
        margin: 0;
        color: #fff;
        font-weight: 100;
        font-size: 7.5pt;
        line-height: 13pt;
      }
      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-left: 15px;

          a {
            color: #fff;
            font-size: 8pt;
          }
        }
      }

      @include media($mobile) {
        @include span-columns(12);
        padding: 15px;
        margin-right: 0;
        text-align: center;

        .right-foot {
          margin-top: 20px;
        }

        ul li {
          margin: 0;

          a {
            width: 44px;
            height: 44px;
            line-height: 44px;
            display: block;
          }
        }
      }
    }

    @include media($mobile) {
      padding: 0;
    }
  }
}
.works_500-startups,
.works_copernicus-develops,
.works_hirolabs,
.products_beerpay,
.products_scrapfy
 {
  footer {
    .footer-contact {
      display: none;
    }
  }
}
.index .nav .logo-section a .logo-mobile {
    background: url(../images/logo-mobile-white.svg) no-repeat center center;
  &.stick {
    background: url(../images/logo-mobile.svg) no-repeat center center;
  }
}

.img-fluid {
  width: 100% !important;
  padding: 0 105px;

  @include media($tablet) {
    width: 100%;
    padding: 0 210px;
  }
  @include media($mobile) {
    width: 100%;
    padding: 0 60px;
  }
}


.t-show {
  display: none;

  @include media($tablet) {
    display: inline-block;
  }

}
.t-hide {
  display: block;

  @include media($tablet) {
    display: none;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .2s ease-in-out all;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}
.img-beerpay {
  width: 100% !important;
}

.m-hide {
  @include media($tablet) {
    display: none !important;
  }
}