.laptop {
  background: url('../images/laptop.png') no-repeat;
  bottom: 0px;
  height: 300px;
  position: absolute;
  right: 0px;
  width: 300px;
  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: none;
  }
}
.opensource-containerList, {
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.opensource-list {
  @include outer-container;
  padding-top: 40px;

  @include media($mobile) {
    text-align: center;
  }
}
.opensource-content {
  p {
    @include media($mobile) {
      padding: 0 15px;
      font-size: 14pt;
      font-weight: 100;
    }
  }
}
.opensource-item {
  @include span-columns(4);
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  vertical-align: top;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  height: 350px;

  &:nth-of-type(3n) {
    @include omega();
  }

  @include media($tablet) {
    @include span-columns(6);
    margin-bottom: 100px;
    &:nth-of-type(3n) {
      margin-right: 2.35765%;
    }
    &:nth-of-type(2n) {
      @include omega();
    }
  }
  @include media($mobile) {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    float: none;
    height: auto;
    margin-bottom: 40px;
  }
}
.opensource-logo {
  position: relative;

  .bg-opensource-logo {
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    height: 160px;
    width: 160px;
  }
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.bg-opensource-logo img {
  height: 100px;
  vertical-align: middle;
  width: 100px;
}

.opensource-description {
  margin-top: 25px;
  text-align: center;

  a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14pt;
    background: #444;
    display: inline-block;
    width: 60%;
    color: #fff;
    padding: 8px 0;
    position: relative;

    &:after, &:before{
      content: "";
      position: absolute;
      right: -26px;
      background: url('../images/flag-corner.svg');
      width: 40px;
      height: 40px;
      top: 11px;
      z-index: -1;
    }

    &:before {
      left: -26px;
      transform: scale(-1);
    }
  }

  p {
    margin-top: 35px;
  }

  @include media($tablet) {
    a {
      position: relative;
      left: initial;
      bottom: initial;
      margin: 0;
    }
    p {
      font-size: 14pt;
      padding: 0 10px;
    }
  }
  @include media($mobile) {
    margin-top: 40px;
    p {
      font-size: 14px;
    }
  }
}
.opensource-description h3 {
  text-transform: uppercase;
}
.opensource-list .title {
  margin-bottom: 130px;
  text-align: center;
  text-transform: uppercase;
  @include media($mobile) {
    margin-bottom: 100px;
  }
}
.clear {
  clear: both;
}

/*************************

Open Stack

*************************/
.openstack-list {
  text-align: center;
}
.openstack-item {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  vertical-align: top;
  &:nth-of-type(6n) {
    margin-right: 0;
  }
  .bg-ourslack {
    background-color: #444;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    img {
      height: 80px;
      margin-top: 30px;
      width: 80px;
    }
    @include media($tablet) {
      height: 100px;
      margin: 0px auto;
      width: 100px;
      img {
        height: 60px;
        margin-top: 18px;
        width: 60px;
      }
    }
  }
  @include media($mobile) {
    width: 45%;
    margin: 0;
  }
}
.openslack-list {
  padding: 0 0 120px 0;
  text-align: center;
  .title {
    margin-bottom: 60px;
    margin-top: 60px;
    @include media($mobile) {
      margin-bottom: 45px;
    }
  }
}