.map-our-clients {
  background: url('../images/map-clients.png') no-repeat center center;
  height: 450px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.our-client-info-container {
  background: #fff;
  position: relative;
  z-index: 2;
  width: 100%;
  .our-client-info-content {
    @include outer-container();
    padding-top: 20px;
    padding-bottom: 60px;
    @include media($mobile) {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    .our-client-info-text {
      @include span-columns(12);
      text-align: center;
      p {
        padding: 0 15px;
        font-size: 20px;
      }
    }
  }
}