.services-containerList {
  background: #fff;
  padding: 0px 0 100px 0;
  position: relative;
  width: 100%;
  z-index: 2;

  @include media($mobile) {
    padding: 10px 0;
  }
}
.services-content p {

  @include media($mobile) {
    font-size: 14pt;
    padding: 10px 15px;
  }
}
.services-list {
  @include outer-container();
  @include media($mobile) {
    text-align: center;
  }
  .brochure-service {
    @include span-columns(12);
    padding: 36px 0;
    text-align: center;
    a {
      font-size: 20px;
      i {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        width: 30px;
      }
    }
  }
}
.services-box {
  @include span-columns(6);
  border: 1px solid #efefef;
  padding: 5px 10px 0 10px;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  @include media($mobile) {
    width: 90%;
    float: none;
    display: inline-block;
    vertical-align: top;
    background: #f2f2f2;
    margin-bottom: 40px;
  }
}
.solution {
  background: url('../images/solution.png') no-repeat;
  bottom: 10px;
  height: 300px;
  left: 20px;
  position: absolute;
  width: 300px;
  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: none;
  }
}
.services-box:last-of-type {
  @include omega();
}
.services-box:hover {
  background: #f2f2f2;
}
.services-box:hover a.btn-service {
  background: $primary-color;
  color: #fff;
}
.services-box:hover img {
  opacity: 1;
}
.services-box img {
  margin: 20px 0;
  opacity: .8;
  width: 80%;
}
.services-box .btn-service {
  bottom: -20px;
  position: relative;
}
.btn-service {
  background: #fff;
  border: 1px solid #efefef;
  color: #444;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  width: 180px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  @include media($mobile) {
    background: $primary-color;
    color: #fff;
  }
}
.services-box h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0 0 0;
  text-transform: uppercase;
}
.services-box p {
  margin: 22px 44px;
}