.outer-container {
  padding: 0 30px;

  .left-container, .right-container {
    @include span-columns(12);
    padding: 75px 0px 0 0px;
    text-align: center;

    .title-slider {
      color: #fff;
      font-size: 28pt;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 15px;
      line-height: 35pt;
      margin-top: 0;
    }

    .info-slider {
      font-size: 13pt;
      line-height: 18pt;
      color: #fff;
      font-weight: normal;
      margin-bottom: 25px;
      display: none;
    }

    .btn-slider {
      height: 48px;
      border: 2px solid #fff;
      display: inline-block;
      padding: 0 45px;
      border-radius: 6px;
      line-height: 48px;
      text-transform: uppercase;
      color: #f85d5d;
      font-weight: lighter;
      letter-spacing: 1px;
      background: white;

      position: absolute;
      bottom: 22px;
      left: 50%;
      margin-left: -72.5px;
    }

    @include media ($laptop-min) {
      @include span-columns(6);
      padding: 140px 35px 0 35px;
      text-align: left;

      small.study-label {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        opacity: .7;
      }

      .title-slider {
        font-size: 46pt;
        margin: 0;
        line-height: 53pt;
        padding-bottom: 25px;
        margin-bottom: 25px;
        margin-top: 0px;
        border-bottom: 3px solid rgba(0,0,0,.1);
      }

      .info-slider {
        font-size: 14pt;
        color: #fefefe;
        line-height: 26pt;
        font-weight: 300;
        display: inline-block;
      }

      .btn-slider {
        position: relative;
        bottom: inherit;
        left: inherit;
        margin-left: auto;
      }

    }

    @include media ($desktopBig) {
      .title-slider {
        font-size: 76pt;
        line-height: 83pt;
      }

      .info-slider {
        line-height: 36pt;
        font-size: 24pt;
      }
      .btn-slider {
        font-size: 30px;
        margin-left: auto;
        height: 80px;
        line-height: 80px;
        padding: 0px 70px;
      }
    }

    small {
      color: white;
      text-transform: uppercase;
      font-size: 10pt;
    }
    
    @include media ($desktop4K) {
      .info-slider {
        font-size: 30pt;
        line-height: 52pt;
        margin-bottom: 140px;
      }
      
      .title-slider {
        font-size: 110pt;
        line-height: 150pt;
      }
    }
  }

  .right-container {

    @include media ($laptop-min) {
      text-align: right;
      margin-left: 45%;
    }
  }
}

#slides {

  &.swiper-container {
    width: 100%;
    height: 100%;

    .image-slider-style {
      position: absolute;
      z-index: -1;
      top: -16px;
      width: 104%;

      @media (max-width: 1024px){
        width: 100%;
      }

      @media (max-height: 800px) and (min-height: 737px) {
        top: -80px;
      }

      @media (max-width: 1024px) and (min-width: 768px) and (min-height: 1024px) and (max-height: 1366px) {
        width: 100%;
      }

    }

    .swiper-button-prev, .swiper-button-next {
      display: none;

      @include media($laptop-min) {
        display: inline-block;
      }
    }

  }
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom, .swiper-pagination-fraction {
  @include media($mobile) {
    bottom: inherit;
    top: 60px;

  }
}

.swiper-pagination-bullet-active {
  background: #FF8B8B;
}

.swiper-button-prev, .swiper-button-next {
  background-image: none;

  i {
    font-size: 31pt;
    display: inline-block;
    opacity: .4;

    &.left {
      -webkit-transform: rotate(180deg);
    }

    &:hover {
      opacity: .9;
    }
  }
}

