.team-2 .footer-contact {
  display: none;
}

.team-section {
  z-index: 3;
  padding-top: 90px;
  padding-bottom: 0;
  &.color {
    background: #efefef
  }
}

.team-container {
  color: #fff;

  .team-content {
    @include span-columns(6);
    text-align: left;

    &.color {
      h1, h2, p {
        color: #555 !important;
      }
    }

    &.original {
      width: 100%;
      text-align: center;
    }

    i.icon-team {
      background-color: #efefef;
      border-radius: 50%;
      color: #444;
      display: inline-block;
      font-size: 8em;
      height: 158px;
      padding: 15px;
      width: 158px;
    }
    h1.teatle-team {
      color: #333;
      margin-top: 0;
      line-height: 45px;
      padding: 0;
    }
    h2 {
      color: #333;
    }
    p.text-title {
      color: #fff;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 50px;
      margin-left: -30px;
      text-align: center;

      @include media($mobile) {
        margin-left: 0;

        &:nth-of-type(2) {
          border: 1px solid #333;
        }
      }

      li {
        overflow: hidden;
        display: inline-block;
        height: 450px;
        width: 300px;
        position: relative;
        margin: 2px;

        .member {

          img {
            opacity: 1;
            width: 100%;
          }
        }
        .name-role {
          background: rgba(0,0,0,0.6);
          width: 100%;
          position: absolute;
          bottom: -70px;
          transition: .2s ease-in-out all;

          h2 {
            color: #fff;
            font-size: 30px;
            margin: 10px 0 0 0;
            font-weight: lighter;
            letter-spacing: 2px;
          }

          p {
            font-size: 14px;
            margin: 10px 0;
            font-weight: lighter;
            letter-spacing: 1px;
          }

          i {
            opacity: .6;
            margin-bottom: 20px;
            display: block;
            font-weight: 100;
          }

          @include media($mobile) {
            bottom: 0;

            p {
              margin: 5px 0px;
            }

            i {
              display: none;
            }
          }
        }

        &:hover .name-role {
          bottom: -10px;
          transition: .3s ease-in-out all;
        }


        @include media($mobile) {
          height: 250px;
        }
      }
    }
    .quick-contact {
      width: 100%;
    }

    .foot-asap {
      opacity: .5;
      font-style: italic;
      font-size: 11pt;
    }
  }

  .collage-team-section {
    @include span-columns(6);
    margin: 0px;
    margin-bottom: -5px;

    img {
      width: 100%
    }

  }

  @include media($tablet) {
    display: flex;
    flex-flow: column;

    .collage-team-section {
      @include span-columns(12);
      order: 1;
    }

    .team-content {
      order:2;
      @include span-columns(12);
      padding: 0 15px;
      margin-bottom: 15px;

      .quick-contact form .group .addon button, .quick-contact form .group input {
        font-size: 10pt;
      }
    }
  }
}

.team-role {
  border-bottom: 1px solid #555;

  ul {
    margin-top: 0;
  }
  &:last-of-type {
    border-bottom: none;
  }
}

ul.ceos li {
  @include media($mobile) {
    margin-left: 0px;
  }
}
ul.ceos {
  border-bottom: 1px solid #555;

  @include media($mobile) {
    border: none;
    margin-left: 0;
  }
}
.little-about-us p {
  padding: 0 15px;
  font-size: 18pt;
  text-align: center;
  position: relative;
  z-index: 999;
}


