.each, .bg-artistic-2, .bg-gallery {
  background: url('../images/each.png') no-repeat;
  bottom: 0px;
  height: 300px;
  left: 0px;
  position: absolute;
  width: 300px;

  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: none;
  }
}
.bg-uiux, .bg-artistic {
  background: url('../images/uiux.png') no-repeat;
  bottom: 10px;
  height: 300px;
  position: absolute;
  right: -20px;
  width: 300px;

  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: none;
  }
}
.bg-artistic-2 {
  background: url('../images/art-brush.png') no-repeat;

}
.bg-artistic {
  background: url('../images/art-dogger.png') no-repeat;
}
.bg-gallery {
  background: url('../images/camera.png') no-repeat;
}
.briefcase {
  background: url('../images/briefcase.png') no-repeat;
  bottom: 10px;
  height: 300px;
  position: absolute;
  right: -20px;
  width: 300px;

  @include media($mobile) {
    background-size: 100%;
    height: 150px;
    width: 150px;
    display: none;
  }
}
.work-content p {
  @include media($mobile) {
    margin: 10px 15px;
    font-size: 14pt;
    font-weight: 100;
  }
}
.work-content h1,
.products-content h1 {
  text-transform: uppercase;
  @include media($mobile) {
    font-size: 30px;
    padding: 0 15px;
  }
}
.products-container {
  @include media($mobile){
    padding: 0 15px;
  }
}
.work-list, .products-list {
  background: #fff;
  padding-bottom: 45px;
  padding-top: 45px;
  position: relative;
  z-index: 2;
}
.products-list {
  @include media($tablet) {
  margin: 0 15px;
  }
  @include media($mobile) {
    margin: 0;
  }
}
.work-list-container, .products-list-container {
  @include outer-container;
  @include media($mobile) {
    padding: 0 15px;
  }
}
.work-list-content, .products-list-content {
  @include span-columns(12);
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 40px;
  padding-bottom: 40px;
  @include media($mobile) {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.work-list-content:last-of-type, .products-list-content:last-of-type {
  border: none;
}
.text-section-float, .image-section-float, .products-left-section, .products-right-section {
  @include span-columns(6);
  @include media($mobile) {
    @include span-columns(12);
  }
}
.text-section-float {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  margin: 0;
  position: relative;
  p {
    margin-right: 15px;
    line-height: 28px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin-left: 15px;
      font-size: 24px;
      text-align: center;
      float: left;
      color: #bbb;
      transition: .2s ease-in-out all;
      &:hover {
        color: #444;
        transition: .2s ease-in-out all;
      }
    }
  }
  small {
    color: #ccc;
    padding-bottom: 10px;
    display: block;
    text-transform: uppercase;
    font-size: 8pt;
    letter-spacing: 1px;
  }
  @include media($desktopBig) {
    min-height: 370px;
  }
  @include media($mobile) {
    width: 100%;
  }
}
.products-right-section {
  @include omega();
}
.image-section-float {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
  margin: 0;
  @include media($mobile) {
    margin-bottom: 15px;
    width: 100%;
  }
}
.work-list-content:nth-of-type(odd) div.image-section-float {
  float: right;
  @include media($mobile) {
    float: none;
  }
}
.position-fix {
  position: absolute;
  left: 15px;
  bottom: 0;
  margin-top:15px;
}
.work-list-content:nth-of-type(odd) div.text-section-float a.position-fix {
  right: 15px;
  left: initial;
}
.image-section-float img, .text-section-float img, .products-right-section img, .products-left-section img {
  border: 1px solid #f2f2f2;
  width: 100%;
}
.float-right {
  float: right;
}
h2.work-title, h2.products-title  {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  @include media($mobile) {
    font-size: 24px;
  }
}
h2.work-subtitle, h2.products-subtitle {
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  @include media($mobile) {
    font-size: 18px;
  }
}