
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?pquqjz');
  src:url('../fonts/icomoon.eot?#iefixpquqjz') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pquqjz') format('truetype'),
    url('../fonts/icomoon.woff?pquqjz') format('woff'),
    url('../fonts/icomoon.svg?pquqjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e900";
  color: #fff;
}
.icon-communication:before {
  content: "\e901";
  color: #fff;
}
.icon-design:before {
  content: "\e902";
  color: #fff;
}
.icon-entoend:before {
  content: "\e903";
  color: #fff;
}
.icon-graph:before {
  content: "\e904";
  color: #fff;
}
.icon-laptop:before {
  content: "\e905";
  color: #fff;
}
.icon-multi:before {
  content: "\e906";
  color: #fff;
}
.icon-puzzle:before {
  content: "\e907";
  color: #fff;
}
.icon-eich:before {
  content: "\e601";
}
.icon-open-source:before {
  content: "\e603";
}
.icon-products:before {
  content: "\e604";
}
.icon-services:before {
  content: "\e605";
}
.icon-left-bracket:before {
  content: "\e606";
}
.icon-right-bracket:before {
  content: "\e607";
}
.icon-team:before {
  content: "\e608";
}
.icon-menu:before {
  content: "\e609";
}
.icon-twitter:before {
  content: "\e60a";
}
.icon-linkedin:before {
  content: "\e60b";
}
.icon-link:before {
  content: "\e60c";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-arrow-right:before {
  content: "\e60e";
}
.icon-arrow-down:before {
  content: "\e60f";
}
.icon-mobile:before {
  content: "\e610";
}
.icon-skype:before {
  content: "\e611";
}
.icon-phone:before {
  content: "\e612";
}
.icon-home:before {
  content: "\e613";
}
.icon-check:before {
  content: "\e800";
}
.icon-client:before {
  content: "\e801";
}
.icon-uxui:before {
  content: "\e802";
}
.icon-blog:before {
  content: "\e803";
}
.icon-briefcase:before {
  content: "\e804";
}
.icon-email:before {
  content: "\e805";
}
.icon-deploy:before {
  content: "\e908";
}
.icon-idea:before {
  content: "\e909";
}
.icon-structure:before {
  content: "\e90a";
}
.icon-test:before {
  content: "\e90b";
}
.icon-gallery:before {
  content: "\e90c";
}
.icon-art:before {
  content: "\e90d";
}
.icon-bootstrap:before {
  content: "\e90e";
}
.icon-angular:before {
  content: "\e90f";
}
.icon-jquery:before {
  content: "\e910";
}
.icon-mysql:before {
  content: "\e911";
}
.icon-postgres:before {
  content: "\e912";
}
.icon-rails:before {
  content: "\e913";
}
.icon-ruby:before {
  content: "\e914";
}
.icon-uikit:before {
  content: "\e915";
}