<!doctype html>
<html>
  <head>
  <meta http-equiv="Content-sType" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <title><%= current_page.data.title || "HashDog Software Development Company - Full Stack Developers" %></title>
  <link rel="icon" href="/favicon.png" type="image/x-icon" />
  <meta name="description" content="Best quality/cost ratio in the market for software development, website development and app development. We will give you a turnkey solution.">
  <meta name="keywords" content="ruby on rails development and consulting, ruby on rails developers, help startups, ruby on rails, staffing, remote developers, partnership, co-working">

  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="HashDog Software Development Company - Full Stack Developers">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://hashdog.com">
  <meta property="og:site_name" content="Hashdog">
  <meta property="og:description" content="HashDog Software Development Company - Full Stack Developers | Best quality/cost ratio in the market for software development, website development and app development. We will give you a turnkey solution.">
  <meta property="og:image" content="http://www.hashdog.com/images/og_image.jpg" />

  <!-- Twitter Cards -->
  <meta name="twitter:site" content="@hashdogteam">
  <meta property="twitter:account_id" content="4503599631206494" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.min.css">
  <!-- /Twitter Cards -->

  <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
  <% if current_page.path == 'index.html' %>
    <%= partial "header" %>
  <% else %>
    <%= partial "header-nav" %>
  <% end %>

    <%= yield %>

  <%= partial "footer" %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js"></script>
    <%= javascript_include_tag  "all" %>
    <script type="text/javascript">

    </script>

  </body>
</html>
