
/**
* ------------------------------------------------------------------------------
* RESPONSIVE
* ------------------------------------------------------------------------------
*/
@media only screen and (max-width: 1760px) {
}
@media only screen and (max-width: 1518px) {
  
}
@media only screen and (max-width: 1340px) {
  .headline {
    top: 30px;
  }
  .home-img {
    margin-top: -240px;
    top: 0;
  }
  .floating-text h2 {
    font-size: 48px;
    margin-top: 40px;
  }
  .desc-text {
    font-size: 28px;
  }
  .inview-block.inview {
    padding-top: 65px;
  }
  .right-img {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 1210px) {
  
}
@media only screen and (max-width: 1150px) {
  
}
@media only screen and (max-width: 1040px) {
  .home .container {
    position: absolute;
    margin: 0 !important;
    padding:0 !important;
  }
  #hashdog-logo {
    margin:0;
  }
  .header {
    padding: 20px 0;
  }
  .headline {
    margin-top: 0px;
  }
  .home-img {
    position: relative;
    top:0px;
    left: 0;
    margin:0;
    width: 100%;
  }
  .floating-text h2 {
    font-size: 32px;
  }
  .right-img {
    padding-top: 90px;
  }
  .item-list ul li {
    margin: 0 20px 30px 0;
    width: 150px;
    height: 150px;
    font-size: 16px;
  }
  .item-list ul li i {
    margin-bottom: 10px;
    font-size: 90px;
  }
  .section-content.contact {
    height: auto;
    margin-top: 0;
  }
  .social-container a i {
    font-size: 32px;
  }
  .arrow-mobile {
    display: block;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 783px) {
  #hashdog-logo {
    margin:0;
  }
  .header {
    padding: 20px 0;
  }
  .home-img {
    position: relative;
    top:240px;
    left: 0;
    margin:0;
    width: 100%;
  }
  .floating-text h2 {
    font-size: 32px;
  }
  .right-img {
    padding-top: 90px;
  }
  .inview-block.inview {
    padding-top:0;
  }
  .top-position {
    top: 0;
  }
  .item-list ul li {
    margin: 0 20px 30px 0;
    width: 150px;
    height: 150px;
    font-size: 16px;
  }
  .item-list ul li i {
    margin-bottom: 10px;
    font-size: 90px;
  }
  .section-content.contact {
    height: auto;
    margin-top: 0;
  }
  .social-container a i {
    font-size: 32px;
  }
  .img-effect {
    position: relative;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
  }
  .floating-text-container .left-img {
    padding-top: 110px;
  }
  .right-img {
    padding-top: 140px;
  }
  .floating-text.textblock.business {
    padding-top: 0;
  }
}
@media only screen and (max-width: 640px) {

}
@media only screen and (max-width: 540px) {

}
@media only screen and (max-width: 478px) {
  #hashdog-logo {
    width: 100%;
    margin:0;
  }
  .home-img {
    position: relative;
    top:10px;
    left: 0;
    margin:0;
    width: 100%;
  }
  .desktop-img-home {
    display: none;
  }
  .mobile-img-home {
    display: block;
    top: 176px;
  }
  .btn-contact {
    padding: 5px 10px;
    font-size: 16px;
  }
  .header {
    padding: 15px 0px;
  }
  .headline {
    font-size: 40px;
    line-height: 40px;
    margin-top: 0px;
    top:10px;
  }
  .arrow-mobile {
    padding-top: 20px;
  }
  .social-container a i {
    font-size: 26px;
  }
  h2.drop-us {
    font-size: 14px;
    line-height: 14px;
  }
  .desktop-version {
    display:  none;
  }
  .mobile-version {
    display: block;
  }
  .inview-block.inview {
    padding: 20px 15px 0 15px;
  }
  .textblock {
    width: auto
  }
  .right-img {
    padding: 40px 0 0 0;
  }
  .floating-text h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .desc-text {
    font-size: 20px;
  }
  .floating-text-container .left-img {
    padding-top: 20px;
  }
  .header-paragraph {
    font-size: 30px;
  }
  .canadian .header-paragraph span img {
    width: 16px;
  }
  .col-xs-12.item-list.inview {
    padding: 0;
  }
  .item-list ul li {
    width: 100px;
    height: 100px;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    margin:0 15px 32px 0;
  }
  .item-list ul li i {
    font-size: 60px;
    margin-bottom: 5px;
  }
  .package {
    padding: 0;
  }
  h2.contact {
    font-size: 30px;
    line-height: 30px;
  }
  .section-content.contact {
    margin-top: 20px;
    height: auto
  }
  .client-desc {
    font-size: 20px;
    line-height: 24px;
  }
  .success-cases ul li {
    width: 100px;
    margin:10px;
  }
  .success-cases ul li img {
    width: 100%;
  }
  .footer .row {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .img-effect {
    position: relative;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
  }
  .img-effect.inview {
    transform: translate(0px, 0px);
  }
  .inview-block {
    position: relative;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translate(0px, 0px);
  }
  .inview-block.inview {
    transform: translate(0px, 0px);
    opacity: 1;
    padding: 20px;
  }
  .top-position {
    top: 0;
  }
  .arrow-mobile {
    margin-top: 0;
  }
}