.border-radius {
  border: 2px solid white;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.big-text {
  font-size: 100px;
  width: 520px;
  line-height: 100px;
}
/**
* ------------------------------------------------------------------------------
* ICOMOON 
* ------------------------------------------------------------------------------
*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?5fvp4x');
  src:url('../fonts/icomoon.eot?#iefix5fvp4x') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5fvp4x') format('truetype'),
    url('../fonts/icomoon.woff?5fvp4x') format('woff'),
    url('../fonts/icomoon.svg?5fvp4x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hashdog-icon:before {
  content: "\e605";
}
.icon-coin:before {
  content: "\e600";
}
.icon-communication:before {
  content: "\e601";
}
.icon-graph:before {
  content: "\e602";
}
.icon-hero:before {
  content: "\e60e";
}
.icon-pig:before {
  content: "\e60f";
}
.icon-practices:before {
  content: "\e610";
}
.icon-watch:before {
  content: "\e611";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-gear:before {
  content: "\e604";
}
.icon-heart:before {
  content: "\e606";
}
.icon-idea:before {
  content: "\e607";
}
.icon-instagram:before {
  content: "\e608";
}
.icon-learn-more:before {
  content: "\e609";
}
.icon-linkedin:before {
  content: "\e60a";
}
.icon-ninja:before {
  content: "\e60b";
}
.icon-twitter:before {
  content: "\e60c";
}
.icon-update:before {
  content: "\e60d";
}

/**
* ------------------------------------------------------------------------------
* UNIVERSAL 
* ------------------------------------------------------------------------------
*/
* {
  margin: 0 auto;
  padding: 0;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  outline: none;
  text-decoration: none;
  color: white;
}
a img {
  border: none;
}
html, body {
  font-family: 'Roboto Condensed', sans-serif;
}
h3 {
  color: #f85d5d;
}
a,
a:link,
a:visited,
a:active {
  transition: all 250ms ease-in-out;
}
button{
    background-color: transparent;
    border: none;
    color: #fff;
}
textarea{
  resize: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/**
* ------------------------------------------------------------------------------
* HEADER 
* ------------------------------------------------------------------------------
*/
.container {
  width: 800px;
  margin: 0 auto;
  display: table;
}
.col-xs-6 {
  width: 400px;
  vertical-align: top;
  display: table-cell;
}
.col-xs-12 {
  width: 100%;
}
.text-right {
  text-align: right;
}
.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  background-color: #fff;
}
.logo-link {
  display: inline-block;
}
.landing {
  padding: 0 !important;
}
.menu {
  list-style-type: none;
  float: right;
  margin-right: 300px;
  margin-top: 52px;
  font-size: 20px;
}
.menu li {
  display: inline-block;
  margin-left: 20px;
}
.menu .special {
  padding: 10px 20px;
  border: 2px solid #f85d5d;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #f85d5d;
}
.section {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.headline {
  color: #f85d5d;
  margin: 0;
  top: 80px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  z-index: 100;
}
.arrow-mobile {
  display: none;
  padding-top: 40px;
}
.arrow-mobile img {
  width: 32px;
  height: 32px;
}
.arrow-mobile p {
  margin: 0;
}
.container-img-home {
  height: 800px;
  overflow: hidden;
  position: relative;
}
.home {
  background-color: #f9f9f9;
  padding-top: 66px;
}
.mobile-version {
  display: none;
}
.home-img {
  position: relative;
  top: 50%;
  z-index: 1;
  width: auto;
  left: 50%;
  margin-top: -590px;
  margin-left: -600px;
}
.mobile-img-home {
  display: none;
}
.learn-more-container {
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  left: 50%;
  margin-left: -35px;
  cursor: pointer;
  z-index: 9999;
}
.img-learn-more {
  background: url("../img/learn-more.svg") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
}
.going-down .sticky-header.fixed {
  transform: translate(0px, -100px);
  
}
.sticky-logo {
  margin-left: 300px;
  margin-top: 20px;
}
/**
* ------------------------------------------------------------------------------
* HERE'S WHAT WE CAN DO FOR YOU
* ------------------------------------------------------------------------------
*/
.section-content {
  height: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.floating-text-container {
  overflow: hidden;
  position: relative;
  z-index: -1;
  background: #ffffff;
}
.floating-text {
  color: #444;
  font-size: 30px;
  line-height: 30px;
  padding: 20px;
  text-align: left;
  z-index: 999;
  position: relative;
}
.floating-text h2 {
  font-size: 32px;
}
.top-position {
  top: 90px;
}
.client-desc {
  font-size: 22px;
  line-height: 1.4;
  color: #999999;
}
.bottom-position {
  bottom: 0;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.floating-text-container .left-img {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 45px;
}
.bottom-section {
  padding-bottom: 40px;
}
.floating-text-container .left-img img {
  width: 90%;
}
.margin-bottom {
  margin-bottom: 35px;
}
.right-img {
  top:0;
  right: 0;
  z-index: -1;
  position: relative;
  padding-top: 45px;
}
.right-img img {
  width: 100%;
}
.floating-text-container ,
.textblock-container:before,
.textblock-container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.textblock {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.desc-text {
  font-size: 22px;
  color: #444444;
  line-height: 1.4;
  text-align: left;
}
.business h2.header-paragraph {
  color: #444444;
}
.header-paragraph {
  color: #f85d5d;
  font-size: 50px;
  clear: both;
  line-height: 50px;
  text-align: center;
}
.content-text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 18px;
  color: #595959;
  width: 480px;
  float: left;
}
.talk.textblock {
  float: left;
  margin-left: 170px;
}
/**
* ------------------------------------------------------------------------------
* CANADIAN SERVICE
* ------------------------------------------------------------------------------
*/
.package {
  background-image: url(../img/pattern.png);
  background: #f9f9f9;
  height: auto;
  padding: 60px 0;
  position: relative;
  width: 100%;
  z-index: 9;
}
.package .inview-block {
  text-align: center;
}
.package .inview-block {
  margin-bottom: 40px;
}
.text-details-package {
  color: #444;
  font-size: 25px;
  margin: 15px 0;
}
.item-list ul li {
  padding: 0px;
  list-style: none;
  margin: 0 50px 20px 0;
  color: #444;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  width: 200px;
  height: 200px;
}
.text-center {
  text-align: center;
}
.img-effect {
  position: relative;
}
.img-effect.inview {
  opacity: 1;
}
.item-list ul li i {
  display: block;
  margin-bottom: 25px;
  font-size: 100px;
}
.check {
  width: 18px;
  height: 18px;
}
.textblock.canadian {
  margin-top: 0;
  background-color: #f85d5d;
  padding: 46px;
  width: 540px;
  float: right;
  margin-right: 245px;
  position: relative;
}
.icon-canadian {
  background: url("../../medias/img/canadian.svg") no-repeat;
  background-size: contain;
  width: 142px;
  height: 142px;
  float: left;
  margin-bottom: 30px;
}
.canadian .header-paragraph span img {
  width: 30px;
  height: auto;
  position: relative;
  top: 10px;
}
.mirror {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.canadian .header-paragraph {
  color: #444444;
  display: block;
  margin-bottom: 45px;
}
.canadian .content-text {
  color: white;
  width: auto;
  margin-top: 20px;
}
.canadian.img-container {
  max-width: 865px;
  width: 100%;
  height: 646px;
  position: absolute;
  left: 300px;
  top: 167px;
  overflow: hidden;
  z-index: 1;
}
.canadian.img-container img {
  margin-top: -100px;
}
/**
* ------------------------------------------------------------------------------
* HERE'S HOW TO REACH US
* ------------------------------------------------------------------------------
*/
.success-cases {
  background: #fff;
}
.section-content.contact {
  height: 645px;
  margin-top: 115px;
}
.floating-text.contact {
  width: 561px;
  float: left;
}
h2.contact {
  color: #444444;
  font-size: 62px;
  margin-bottom: 40px;
}
.link-description {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  margin: 6px 0 0 0 ;
}
.footer small {
  color: #fff;
}
.footer .row .col-xs-12 {
  display: table;
}
.black-section {
  background: #444;
}
.copyrights small {
  color: #999999;
  display: block;
}
.footer {
  background: #444;
  padding: 35px 0;
}
.success-cases ul {
  text-align: center;
  display: table;
}
.success-cases ul li {
  display: inline-block;
  margin: 30px;
}
.item-list {
  position: relative;
}
.item-list.inview {
  opacity: 1;
}
.inview-block {
  position: relative;
  
  transition: all 1000ms ease-in-out;
  transform: translate(0px, 100px);
}
.inview-block.inview {
  transform: translate(0px, 0px);
  opacity: 1;
  padding: 20px;
}
.floating-text.textblock.business {
  padding-top: 85px;
}
.for-container .header-paragraph {
  text-align: center;
}
.for-container .content-text {
  width: auto;
  margin-top: 16px;
}
.for-container input {
  float: left;
}
.forcompagnies-container {
  width: 50%;
  background-color: #f5f5f5;
  overflow: hidden;
  float: left;
  padding-bottom: 50px;
}
.forcompagnies.textblock {
  overflow: hidden;
  margin-top: 56px;
  float: none;
}
.content-container {
  margin-top: 35px;
  width: 390px;
}
.content-container h3 {
  width: 390px;
  float: left;
  font-size: 30px;
  line-height: 30px;
}
.content-container p {
  clear: both;
}
.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #f85d5d;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #f85d5d !important;
  font-size: 20px;
}
.icon-submit {
  width: 100%;
}
/**
* ------------------------------------------------------------------------------
* FOOTER
* ------------------------------------------------------------------------------
*/
.section.footer {
  background-color: #444444;
  height: auto;
  padding-top: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center
;}
.section.footer .header-paragraph {
  color: white;
  color: #fff;
}
.drop-title-container, .drop-container {
  height: 100%;
  border-right: 1px solid white;
}
h2.drop-us{
  font-size: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.social-container {
  margin: 20px 30px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.social-container a {
  display: inline-block;
  margin-left: 40px;
}
.social-container a img {
  width: 48px;
  height: 48px;
}
.social-container a i {
  font-size: 50px; 
}
.social-container a:first-child {
  margin-left: 0px;
}
.icon-social {
  width: 75px;
  height: 75px;
  background-size: contain;
  display: block;
  cursor: pointer;
}