---
title: "Beerpay: pay beer, pay opensource"
---

<section class="article-head beerpay-product">
  <div class="container">
    <div class="content text-center">
      <h1 class="fl-right">We have given to the Open Source projects the opportunity to find people who can support them!</h1>
    </div>
  </div>
</section>

<div class="tags text-center">
  <p>open source support, open source project, open source profit, open source technologies, Hashdog Projects</p>
</div>

<section class="container">
  <div class="content">

    <div class="article-content">
      <h2>Beerpay</h2>
      <%= image_tag 'images/products/beerpay/explore-beerpay.png' %>
      <p>
        <a href="https://beerpay.io" target="_blank">Beerpay</a> was born as a simple solution for a complex problem in the developers community. Aimed to developers and designers who need to be paid for their work, and also clients who want to pay their work in a secure way. Beerpay is a monetization platform for code in GitHub. Unlike others gratification platforms, Beerpay is deeply integrated with GitHub, allowing millions of users operate in a matter of seconds.
      </p>
    </div>

    <div class="article-content">
      <h2>The problem</h2>
      <p>Lack of economic incentive for developers to create and maintain <strong>open source code</strong>, other developers and managers need to enhance that code. There exists <strong>no easy way to matchmaking developers and other users in GitHub.</strong>
      </p>
      <p>
        We had the challenge to create a service available for developers. We had started with an investigation that led us to navigate similar sites to Beerpay and we hit the first challenge, <strong>Usability</strong>. In many cases, services were similar but none of them had an extensive development and much less usability. Next, Hashdog Team began to develop the different mockups taking this premise as a base, <strong>UI/UX</strong>.
      </p>

    </div>

    <div class="article-content">
      <h2>Keeping simple</h2>
      <%= image_tag 'images/products/beerpay/bg-beerpay.jpg' %>
      <p>We knew that Beerpay should be a usable application and we knew too that the most used platform was, without a doubt, GitHub. For that reason we decided to create a design taking the experience from GitHub, for the developer to feel at home!</p>

      <p>We knew that Beerpay should be a usable application and we knew too that the platform most used by developers is, without a doubt, GitHub. So we decided to create a design taking the experience from GitHub, for the developer to feel at home!</p>
      <p>The platform was created according to GirHub but with distinctive Hashdog's touches: a unique platform running in <strong>NodeJS</strong> with a simple design and, of course, usable for all devices!</p>
    </div>

    <div class="article-image">
      <%= image_tag 'images/products/beerpay/process.png' %>
    </div>

    <div class="article-image">
      <%= image_tag 'images/products/beerpay/product-beerpay.png' %>
    </div>


    <div class="article-content">
      <h2>The solution: A Wish!</h2>
    </div>

    <div class="article-image">
      <%= image_tag 'images/products/beerpay/wish.jpg' %>
    </div>

    <div class="article-content">
      <p>The platform presents a simple solution for a problem that it has always existed. In the system, a <strong>Wish</strong> is a request for new features or fixes to the project owner, any user can create one. In order to get much more motivation, other users can support this wish with money too. Once the owner finishes working on the wish, he changes his status to "finish" from his dashboard and can attach the SHA of the commit (Commit SHA) for the project on GitHub. Once this is approved, the wish is granted!</p>
    </div>

    <div class="article-content">
      <h2>Interaction with GitHub</h2>

      <%= image_tag 'images/products/beerpay/beerpay-github.png' %>

      <p>Each user will have to have a GitHub account if they want to add their project. That is why that we decided to use the GitHub API to register users, to see the list of their projects and details of them. Once the data is imported, they can start to get Wishes.</p>
    </div>

    <div class="article-content">
      <h2>Simple process, big results!</h2>
    </div>

    <div class="article-image">

      <%= image_tag 'images/products/beerpay/stepprocess.png' %>

    </div>

    <div class="article-content">
      <p>First, the Project Manager plans the sprint for every developer on the project. Then the designer and the team start to work together to create all mockups and the beta version.</p>

      <p>The entire Hashdog team worked deep into the creation of <a href="https://beerpay.io" target="_blank">Beerpay</a>: <strong>Graphic designer, JS Developer, Ruby Developers and Project Manager</strong>. It took 9 months to give birth this project.</p>

      <div class="text-center">
        <a href="https://beerpay.io" target="_blank" class="btn">Visit Beerpay</a>
      </div>
    </div>

    <div class="article-navegation">
      <div class="prev">
        <a href="/products/scrapfy">
          <small><strong>Previous Product</strong></small>
          <h3>Scrapfy: Collaborative code editor.</h3>
        </a>
      </div>
      <div class="next">
        <a href="/works/copernicus-develops">
          <small><strong>Our Clients</strong></small>
          <h3>Copernicus Develops</h3>
        </a>
      </div>
    </div>


  </div>
</section>

<%= partial "contact-footer-article" %>

