---
title: "Scrapfy"
---

<section class="article-head scrapfy">
  <div class="container">
    <div class="content text-center">
      <h1>Collaborative tool for developers!</h1>
    </div>
  </div>
</section>

<div class="tags text-center">
  <p>Collaborative tool, online code editor, collaborative code editor, code editor, </p>
</div>

<section class="container">
  <div class="content">

    <div class="article-content">
      <h2>Open issue</h2>
      <p>Several times, Hashdog Team suffered the lack of a collaborative tool which could allow us to work simultaneously. Not finding the appropriate one, we lost productive time. This drawback paved the way for an immediate and effective solution. Scrapfy was born.</p>
    </div>

    <div class="article-content">
      <h2>Keepping it Simple</h2>
      <p>After some research we got to the conclusion that it did not exist a simple and online collaborative tool. This is how our Design and Developemnt team started with a simple compromise: "Keepping it Simple"</p>
    </div>

    <div class="article-content">
      <h2>The solution</h2>
      <p>We achieved a simple platform and usable for developers with multiple functions such as chat and voice chat. You can download or export your code to gist. Scrapfy also has simple extension for: <a href="https://chrome.google.com/webstore/detail/scrapfy/emackoodkdoeflcpjfbdljlfckgbmnae" target="_blank">Google Chrome,</a> <a href="https://addons.mozilla.org/firefox/addon/scrapfy/" target="_blank">Firefox,</a> <a href="https://github.com/hashdog/scrapfy-sublime-plugin" target="_blank">Sublime Text,</a> <a href="https://atom.io/packages/scrapfy" target="_blank">Atom.</a></p>
    </div>

    <div class="article-navegation">
      <div class="prev">
        <a href="/works/500-startups">
          <small><strong>Our Clients</strong></small>
          <h3>500 Startups</h3>
        </a>
      </div>
      <div class="next">
        <a href="/products/beerpay">
          <small><strong>Next Product</strong></small>
          <h3>Beerpay: Pay beer, pay Open Source</h3>
        </a>
      </div>
    </div>

  </div>
</section>

<%= partial "contact-footer-article" %>

