---
title: "500 Startups"
---

<section class="article-head startups-500">
  <div class="container">
    <div class="content text-center">
      <h1 class="fl-right">500 Startup mentors know (almost) everything...</h1>
    </div>
  </div>
</section>

<div class="tags text-center">
  <p>startups, mentors, partnership, startup program, technology startups</p>
</div>



<section class="container">
  <div class="content">

    <div class="article-content">
      <h2>500 Startups</h2>
      <%= image_tag 'images/works/500-startup/500_Startups.png', class: 'full-image-article' %>
      <p>Is an early-stage venture fund and seed accelerator. The fund admitted a first "class" of twelve startups to its incubator office in Mountain View, California in February, 2011. They expanded to a second class of 21 in June 2011 and a third class of 34 in October 2011.</p>


    </div>

    <div class="article-content">
      <h2>Strengthen Weaknesses</h2>
      <%= image_tag 'images/works/500-startup/500startups-hashdog.jpg', class: 'full-image-article' %>
      <p>We have worked with 500 startups as their <strong>IT partner</strong>. We have collaborated with these mentees in their Technological development, helping them in the achievement of the proposed goals. Projects like <strong>Remoov</strong> and <strong>Doughbies</strong> got the expected acceleration with our technical advice and development.</p>
    </div>

    <div class="outfocus">
      <a href="/hire-us">Start project with us!</a>
      <small>Let's build excellent software</small>
    </div>

    <div class="article-content">
      <h2>Agile methods</h2>
      <%= image_tag 'images/works/500-startup/Remoov-screen.jpg', class: 'full-image-article' %>
      <p>
        <%= image_tag 'images/works/500-startup/remoov.png', class: 'left-image-article' %>
        Remoov.com is a startup with a great idea: Give to their users/clients a complete solution for their sales, from the sale itself to the delivery of the product. <br>
        We have developed the entire workflow for its business model. We implemented the sales system, stock control, and delivery system. We bring about the entire app from the planification to the implementation in production, using <strong>Agile methodologies</strong> through the entire process.
      </p>
    </div>

    <div class="article-content">
      <h2>All areas covered</h2>
      <%= image_tag 'images/works/500-startup/doughbies-screen.jpg', class: 'full-image-article' %>
      <p>
        <%= image_tag 'images/works/500-startup/doughbies.jpg', class: 'left-image-article' %>
        They are an online bakery, with a clear aim: Clients fully satisfied with freshly baked cookies, available on their webpage and delivered in the costumer house. Taking into account this main idea, we have developed a <strong>complete system</strong> to manage the cookies availability in different stores, and we have implemented an integration with a preexistent delivery system. We have put into practice our workflow for the entire project: planification, project management, devops, development and deploy to production.
      </p>
    </div>

    <div class="article-content">
      <h2>Realises</h2>
      <p>The first version of Doughbies was shipped and in the hands of users 4 months from the start date. And Remoov was shipped in 3 months.</p>
      <p>Hashdog grew in knowledge with this two experience and we score two goals:<strong>The Satisfaction of two clients</strong></p>
    </div>

    <div class="article-navegation">
      <div class="next">
        <a href="/works/copernicus-develops">
          <small><strong>Next Client</strong></small>
          <h3>Copernicus Develops</h3>
        </a>
      </div>
      <div class="prev">
        <a href="/works/hirolabs">
          <small><strong>Previous Client</strong></small>
          <h3>Hirolabs</h3>
        </a>
      </div>
    </div>

  </div>


</section>

<%= partial "contact-footer-article" %>

