---
title: "Copernicus Develops"
---

<section class="article-head copernicus-develops">
  <div class="container">
    <div class="content text-center">
      <h1>A strong bet on mobile technology</h1>
    </div>
  </div>
</section>

<div class="tags text-center">
  <p>medical apps, telemedicine, ios app, biomedical engineer, xcode medical apps, health apps, health care</p>
</div>

<section class="container">
  <div class="content">

    <div class="article-content">
      <h2>Copernicus Develops</h2>
      <%= image_tag 'images/works/copernicus-develops/copernicus.png', class: 'full-image-article' %>
      <p>
        <a href="https://copernicusdevelops.com" target="_blank">Copernicus Develops</a> is company with a serious commitment with health care. They believe that current technologies can improve the quality of people’s life. For that reason, so as to reach such goal they chose <strong>hashdog</strong> as their Tech Partner.
      </p>
    </div>

    <div class="article-content">
      <h2>End-To-End Solution</h2>
      <p>They needed an <strong>End-To-End</strong> solution to develop their products. Luckily they found in Hashdog this <strong>cost-effective</strong> solution. Copernicus deposited his trust in our experience to lead his Technical Department: planning, project management and development of its products. In this way, they focus their work on the bussines management and we have improved it.
<!--
      <%= image_tag 'images/works/copernicus-develops/map.png', class: 'middle' %>
-->
      </p>

      <ul class="square-list">
        <li>Development</li>
        <li>I+D</li>
        <li>Biomedical Engeneer</li>
        <li>Project Management</li>
      </ul>
    </div>

    <div class="article-content">
      <h2><%= image_tag 'images/works/copernicus-develops/icon-lubaapp.png', class: 'icon-app' %> Heartbeats on your phone</h2>

      <p>
        <strong>Luba App</strong> use the microphone of the iPhone to listen to your heartbeats. This information is processed with some filters and presented in a screen which has been perfectly designed to create the perfect bond with the user.
      </p>
      <%= image_tag 'images/works/copernicus-develops/lubaapp.png', class: 'full' %>
    </div>

    <div class="article-content">
      <h2><%= image_tag 'images/works/copernicus-develops/icon-sicapp.png', class: 'icon-app' %> Find out how far your ears can listen!</h2>
      <p>
        <strong>SicApp</strong> is an effective hearing test that measures your threshold of hearing. Your left and right ear will be tested with every frequency and intensity.After you complete the test, you will get a percent of your hearing ability in.
      </p>
      <%= image_tag 'images/works/copernicus-develops/sicapp.jpg', class: 'full' %>
    </div>

    <div class="article-content">
      <h2><%= image_tag 'images/works/copernicus-develops/icon-ishiharaapp.png', class: 'icon-app' %> A game that evaluates your eyes!</h2>
      <p>
        <strong>Ishihara App</strong> is an interactive game that allows you to detect, in early phases, if a person can recognize colors correctly. With this Color Blindness early detection, fathers and teachers could plan and support the child adaptation..
      </p>
      <%= image_tag 'images/works/copernicus-develops/ishiharaapp.jpg', class: 'full' %>
    </div>

    <div class="article-content">
      <h2>A complete package</h2>
      <p>
        As its Tech Partner, we gave copernicus online presence, creating its institutional image from the scratch and placing it on the Net. All designs and webpage for all devices were thoroughly made and developed.
      </p>
      <%= image_tag 'images/works/copernicus-develops/responsive-screens.png', class: 'full' %>
    </div>

    <div class="article-navegation">
      <div class="prev">
        <a href="/works/500-startups">
          <small><strong>Previous Client</strong></small>
          <h3>500 Startups</h3>
        </a>
      </div>
      <div class="next">
        <a href="/products/beerpay">
          <small><strong>Our Products</strong></small>
          <h3>Beerpay: Pay beer, pay open source</h3>
        </a>
      </div>
    </div>

  </div>
</section>

<%= partial "contact-footer-article" %>

