---
title: "Hirolabs"
---
<section class="article-head hirolabs">
  <div class="container">
    <div class="content text-center">
      <h1>They opted for Hashdog as their tech partner.</h1>
    </div>
  </div>
</section>

<div class="tags text-center">
  <p>tech partner, web design, development process, communication, project management</p>
</div>

<section class="container">
  <div class="content">

    <div class="article-content">
      <h2>HiroLabs</h2>
      <%= image_tag 'images/works/hirolabs/hirolabs.png', class: 'full-image-article' %>
      <p>They choose to partner with clients rather than act as a vendor and setup exit plans from the outset.</p>
    </div>

    <div class="article-content">
      <h2>Partnership</h2>
      <%= image_tag 'images/works/hirolabs/hashdog-hirolabs.jpg', class: 'full-image-article' %>
      <p>We sorted out all those obstacles by putting our experience on their projects, becoming in their strategical ally. We have improved the entire IT process of the company with our workflow, ending up with a considerable increase in their productivity.</p>
      <p>
        With our partnership, Hirolabs was able to focus its work and efforts on Business Management, and model its business strategies. We implemented our agile workflow for the development of their projects leading his IT department.</p>
    </div>

    <div class="article-content">
      <h2>Google Ventures</h2>
      <%= image_tag 'images/works/hirolabs/google-ventures.jpg', class: 'full-image-article' %>
      <p>
        <%= image_tag 'images/works/hirolabs/startupdigest.png', class: 'left-image-article' %>
        <a href="http://startupdigest.com" target="_blank">Startup Digest</a> is an email curated digest. With it, you can be aware of the entrepreneurial scene near you. After we developed the entire project, it was handed over to Google Ventures.
      </p>

    </div>

    <div class="article-content">
      <h2>Realises</h2>
      <p>The first version was shipped and in the hands of users 4 months from the start date.</p>
    </div>

    <div class="article-navegation">
      <div class="prev">
        <a href="/products/scrapfy">
          <small><strong>Last Products</strong></small>
          <h3>Scrapfy: Collaborative code editor</h3>
        </a>
      </div>
      <div class="next">
        <a href="/works/500-startups">
          <small><strong>Next Client</strong></small>
          <h3>500 Startups</h3>
        </a>
      </div>
    </div>

  </div>
</section>

<%= partial "contact-footer-article" %>

