/**
* ------------------------------------------------------------------------------
* RESPONSIVE
* ------------------------------------------------------------------------------
*/

@media only screen and (max-width: 1300px) {
  .headline {
    font-size: 90px;
    line-height: 120px;
    margin-left: 130px;
    margin-top: -200px;
  }
  .home-img {
    margin-top: -120px;
  }
  .inview-block.inview {
    padding-top: 64px;
  }
  .stella {
    width: 1050px;
    margin-top: -120px;
  }
  .learn-more-container p {
    margin: 0;
  }
  .section-content.contact {
    height: auto;
  }
}
@media only screen and (max-width: 1150px) {
  .home-img {
    margin-top: -90px;
    margin-left: 120px;
  }
  .stella {
    margin-top: -90px;
    width: 870px;
  }
  .headline strong {
    font-size: 110px;
  }
  .headline {
    font-size: 80px;
    line-height: 80px;
    width: 420px;
  }
  .floating-text p {
    font-size: 26px;
  }
  .margin-fix {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 990px) {
  .home-img {
    width: auto;
    margin-top:-100px;
    margin-left: 0;
    left: auto;
    right: 0;
  }
  .stella {
    width: 650px;
    margin-top: -100px;
  }
  .menu {
    margin-right: 40px;
  }
  .headline {
    margin-left: 0px;
    width: 100%;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    top: 368px;
  }
  .bg-arrow {
    min-height: 120px;
  }
  .package {
    min-height: initial;
  }
  .btn-contact {
    font-size: 17px;
  }
  .sticky-header .menu {
    display: none;
  }
  #hashdog-logo-sticky {
    margin-left: 40px;
  }
  .floating-text p {
    font-size: 22px;
  }
  .margin-fix {
    margin-top: 44px;
  }
  .inview-block.inview {
    padding: 20px;
  }
  .header-section {
    font-size: 30px;
    line-height: 30px;
  }
  .text-details-package {
    font-size: 22px;
  }
  .item-list h3 {
    font-size: 19px;
  }
  .item-list ul li {
    background-size: 14px 14px;
    font-size: 18px;
    line-height: 18px;
  }
  .floating-text-container .img-container {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .floating-text-container .img-container img {
    position: static;
    max-width: 100%;
    width: 100%;
    margin-top: 0;
  }
  .textblock-container {
    text-align: center;
    margin-top: -50px;
    position: relative;
    z-index: 9999;
    max-width: 420px;
  }
  .textblock-container .textblock {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .talk.textblock {
    margin-top: 50px;
    display: inline-block;
    margin-left: 0;
  }
  .floating-text.contact {
    float: none;
    padding: 0;
    width: calc(100% - 20px);
    max-width: 561px;
  }
  .section-content.contact {
    height: auto;
    margin-top: 0px;
  }
  .section-content.contact .img-container {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .section-content.contact .img-container img {
    position: static;
    max-width: 100%;
    width: 100%;
  }
  .canadian.img-container {
    position: static;
    max-width: 100%;
    height: auto;
  }
  .canadian.img-container img {
    width: 100%;
  }
  .textblock.canadian {
    width: calc(100% - 92px);
    margin-right: 0px;
  }
  .forcompagnies-container,
  .forusers-container,
  .newsletter-container,
  .drop-title-container,
  .drop-container {
    width: 100%;
    float: none;
  }
  .newsletter-container div,
  .drop-container div {
    margin: 0;
  }
  .drop-container {
    width: 450px;
    height: 450px;
    margin: 0 auto;
  }
  h2.drop-us{
    font-size: 20px;
    line-height: 30px;
  }
  .form-textblock{
    height: 600px;
  }
  .newsletter-container{
    width: 450px;
    height: 200px;
    margin: 0 auto;
  }
  .newsletter-container .header-paragraph,
  .drop-container .header-paragraph {
    font-size: 40px;
    line-height: 40px;
  }
  .drop-container {
    margin-bottom: 0px;
  }
  .drop-textblock .special,
  .newsletter-container input {
    margin-top: 30px;
  }
  .icon-social {
    width: 50px;
    background-size: contain;
  }
}
@media only screen and (max-width: 478px) {
  body {
    overflow-x: hidden;
  }
  .home-img {
    margin-top: -10px;
    bottom: 30px;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    right: initial;
    top: initial;
  }
  .bg-client {
    background: none;
  }
  .stella {
    width: 190px;
    top: initial;
    bottom: 30px;
  }
  .client_mobile {
    display: block;
    width: 100%;
  }
  .all-doggers {
    width: 100%;
  }
  .headline strong {
    font-size: 70px;
  }
  .floating-text-container {
    padding-top: 0;
  }
  .header-paragraph {
    font-size: 28px;
    line-height: 28px;
  }
  .headline {
    margin: 0;
    top: 100px;
    font-size: 36px;
    line-height: 50px;
  }
  #hashdog-logo {
    width: 100%;
    margin-left: 10px;
  }
  .btn-contact {
    font-size: 16px;
    padding: 5px 15px;
    margin-right: 15px;
  }
  .menu {
    margin-right: 20px;
    margin-top: 40px;
  }
  .menu li:first-child {
    margin-left: 0;
  }
  .menu li {
    font-size: 14px;
    line-height: 14px;
  }
  .menu .special {
    padding: 6px 14px;
  }
  .sticky-header .menu {
    display: none;
  }
  #hashdog-logo-sticky {
    margin-left: 20px;
  }
  .header-section {
    font-size: 26px;
    line-height: 26px;
  }
  .floating-text p {
    font-size: 20px;
  }
  .floating-text-container .left-img {
    padding: 0;
    width: 100%;
  }
  .learn-more-container {
    bottom: 0;
  }
  .bottom-section {
    padding: 0;
  }
  .desktop-version {
    display: none;
  }
  .mobile-version {
    display: block;
  }
  .inview-block.inview {
    padding: 15px;
  }
  .floating-text-container .img-container {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  h2.contact {
    font-size: 30px;
  }
  h2.drop-us {
    font-size: 16px;
    line-height: 16px;
  }
  .floating-text-container .left-img img {
    padding: 15px;
  }
  .success-cases ul li {
    margin: 10px;
    width: 100px;
  }
  .success-cases ul li img {
    width: 100%;
  }
  .social-container a i {
    font-size: 20px;
  }
  .floating-text-container .img-container img {
    position: static;
    max-width: 100%;
    width: 100%;
    margin-top: 0;
  }
  .textblock-container {
    text-align: center;
    margin-top: -50px;
    position: relative;
    z-index: 9999;
    max-width: none;
    width: auto;
    margin-left: 20px;
    padding-right: 20px;
  }
  .textblock-container .textblock {
    float: none;
    display: inline-block;
    text-align: left;
    width: auto;
  }
  .talk.textblock {
    margin-top: 50px;
    display: inline-block;
    margin-left: 0;
  }
  .floating-text.contact {
    float: none;
    padding: 0;
    width: calc(100% - 20px);
    max-width: 561px;
  }
  .section-content.contact {
    height: auto;
    margin-top: 0px;
  }
  .section-content.contact .img-container {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .section-content.contact .img-container img {
    position: static;
    max-width: 100%;
    width: 100%;
  }
  .canadian.img-container {
    position: static;
    max-width: 100%;
    height: auto;
  }
  .canadian.img-container img {
    width: 100%;
  }
  .textblock.canadian {
    width: calc(100% - 92px);
    margin-right: 0px;
    padding-left: 20px;
    width: auto;
    float: left;
  }
  .for-container .content-container {
    width: auto;
  }
  .forcompagnies.textblock {
    width: auto;
    margin-left: 20px;
    padding-right: 20px;
  }
  .forusers.textblock {
    width: auto;
    margin-left: 20px;
    padding-right: 20px;
  }
  .forcompagnies-container {
    margin-top: -5px;
  }
  .forcompagnies-container,
  .forusers-container,
  .newsletter-container,
  .drop-container {
    width: 100%;
    float: none;
  }
  .newsletter-container div,
  .drop-container div {
    margin: 0;
  }
  .newsletter-container,
  .drop-container,
  .drop-title-container {
    margin-left: 20px;
    width: 300px;
    padding-right: 20px;
  }
  .drop-container {
    height: 725px;
  }
  .drop-textblock .special,
  .newsletter-container input {
    margin-top: 30px;
  }
  .drop-container .header-paragraph,
  .newsletter-container .header-paragraph {
    width: auto;
    max-width: none;
  }
  .newsletter-textblock,
  .drop-textblock {
    width: auto;
  }
  #first-name, #last-name, #email, #city, #province, #country{
    width: 84%;
  }
  #drop-form textarea{
    width: 69%;
    height: 200px;
  }
  #drop-form .btn-submit{
    margin-top: 212px;
  }
  #success-message{
    margin-top: 665px;
  }
  .form-textblock{
    height: 725px;
    width: 300px;
  }
  #newsletter-email{
    width: 70%;
  }
  .icon-social {
    width: 50px;
    background-size: contain;
  }
  .img-effect {
    position: relative;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    -moz-transition: all 1000ms ease-in-out;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
  }
  .img-effect.inview {
    transform: translate(0px, 0px);
  }
  .inview-block {
    position: relative;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    transform: translate(0px, 0px);
  }
  .inview-block.inview {
    transform: translate(0px, 0px);
    opacity: 1;
    padding: 20px;
  }
  .learn-more-container {
    display:  none;
  }
}


@media only screen and (max-width: 478px) {
  .menu {
    display: none;
  }

  .sticky-header{
  /*display: none;*/
  height: 0px;
  }
}

.content-text {
  font-size: 16px;
}
