.border-radius {
  border: 2px solid white;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.big-text {
  font-size: 100px;
  width: 520px;
  line-height: 100px;
}
/**
* ------------------------------------------------------------------------------
* UNIVERSAL
* ------------------------------------------------------------------------------
*/
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-ym90yd');
  src:url('../fonts/icomoon.eot?#iefix-ym90yd') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?-ym90yd') format('truetype'),
    url('../fonts/icomoon.woff?-ym90yd') format('woff'),
    url('../fonts/icomoon.svg?-ym90yd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bracket:before {
  content: "\e600";
}
.icon-check:before {
  content: "\e601";
}
.icon-checkbox:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-gear:before {
  content: "\e604";
}
.icon-hashdog:before {
  content: "\e605";
}
.icon-heart:before {
  content: "\e606";
}
.icon-idea:before {
  content: "\e607";
}
.icon-instagram:before {
  content: "\e608";
}
.icon-learn-more:before {
  content: "\e609";
}
.icon-linkedin:before {
  content: "\e60a";
}
.icon-ninja:before {
  content: "\e60b";
}
.icon-twitter:before {
  content: "\e60c";
}
.icon-update:before {
  content: "\e60d";
}

/**
* ------------------------------------------------------------------------------
* UNIVERSAL
* ------------------------------------------------------------------------------
*/
* {
  margin: 0 auto;
  padding: 0;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  outline: none;
  text-decoration: none;
  color: white;
}
a img {
  border: none;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  width: 100%;
}
h3 {
  color: #f85d5d;
}

a,
a:link,
a:visited,
a:active {
  transition: all 250ms ease-in-out;
}
button{
    background-color: transparent;
    border: none;
    color: #fff;
}
textarea{
  resize: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/**
* ------------------------------------------------------------------------------
* ANIMATIONS
* ------------------------------------------------------------------------------
*/

/**
* ------------------------------------------------------------------------------
* HEADER
* ------------------------------------------------------------------------------
*/
.loader {
  background: url(../img/loader.gif) center center no-repeat #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999999999;
  left: 0;
  top: 0;
  opacity: 1;
}
.loader.hideme {
  opacity: 0;
  pointer-events: none;
}
.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  z-index: 9999999;
  background-color: #fff;
}
.btn-text {
  color: #444444;
}
#hashdog-logo {
  width: 100%;
}
.logo-link {
  display: inline-block;
}
.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #f85d5d;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  color: #f85d5d !important;
  font-size: 20px;
}
.section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.headline {
  color: #f85d5d;
  margin: 0;
  margin-left: 300px;
  margin-top: -240px;
  top: 50%;
  position: absolute;
  font-size: 120px;
  width: 720px;
  line-height: 140px;
  z-index: 100;
  font-weight: normal;
}
.headline strong {
  opacity: 0;
  font-size: 180px;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.headlineAnim {
  animation-name: twoMonths;
}
@keyframes twoMonths {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes twoMonths {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
.container-img-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
}
.home-img {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: auto;
  left: 50%;
  margin-left: 200px;
  margin-top: -100px;
}
.home-imgAnim {
  animation: doggerRuning 1s 1;
  -webkit-animation: doggerRuning 1s 1;
}
@-webkit-keyframes doggerRuning {
  0% {
    -webkit-transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes doggerRuning {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.stella {
  position: absolute;
  top: 50%;
  z-index: 0;
  width: 1370px;
  min-height: 370px;
  left: 0;
  background: url('../img/stella.png') repeat-x bottom center;
  margin-top: -100px;
  opacity: 0;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-delay: .4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.stellaAnim {
  animation-name: stellaFlame;
}
@keyframes stellaFlame {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: : 1370px;
    opacity: 1;
  }
}
@-webkit-keyframes stellaFlame {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: : 1370px;
    opacity: 1;
  }
}
.client_mobile {
  display: none;
}
.img-learn-more {
  background: url("../img/learn-more.svg") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  margin-bottom: 7px;
}
/**
* ------------------------------------------------------------------------------
* HERE'S WHAT WE CAN DO FOR YOU
* ------------------------------------------------------------------------------
*/
.section-content {
  height: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}
.floating-text-container {
  overflow: hidden;
  position: relative;
  z-index: -1;
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 20px;
}
.timing-zone {
  padding-bottom: 40px !important;
}
.bg-client {
  background: url('../img/client.png') no-repeat bottom center;
  background-size: 100% auto;
}
.bg-arrow {
  background: url('../img/arrow.svg') no-repeat center center;
  min-height: 200px;
  transform: scale(0);
  -webkit-transform: scale(0);
}
.bg-arrow.inview {
  transform: scale(1);
  -webkit-transform: scale(1);
  transition: .2s ease-in-out all;
}
.all-doggers {
  text-align: center;
}
.floating-text {
  color: #444;
  font-size: 30px;
  line-height: 30px;
  padding: 20px;
  z-index: 999;
  position: relative;
}
.floating-text p {
  line-height: 1.4;
}
.mobile-version {
  display: none;
}
.top-position {
  top: 0;
  opacity: 0;
}
.top-position.inview {
  opacity: 1;
}
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.floating-text-container .left-img {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  padding-top: 35px;
}
.bottom-section {
  padding-bottom: 40px;
}
/*Positionning crop image */
.floating-text-container .left-img img {
  width: 100%;
}
.textblock-container {
  width: 1220px;
  height: 100%;
  padding: 20% 0;
}
.textblock-main-container {
  width: 100%;
  height: 100%;
}
.right-img {
  top:0;
  right: 0;
  z-index: -1;
  position: relative;
  padding-top: 45px !important;
}
.right-img img {
  width: 100%;
}
.floating-text-container ,
.textblock-container:before,
.textblock-container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.textblock-container:after {
  clear: both;
}
.textblock {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 2;
  color: #444;
}
.img-heart {
  background: url("../img/heart.svg") no-repeat;
  background-size: contain;
  width: 132px;
  height: 132px;
  margin-bottom: 30px;
}
.your-business {
  font-size: 30px;
  color: #444444;
}
.textblock h2.header-paragraph,
.top-position h2.header-paragraph {
  color: #444444;
}
.header-paragraph .icon-bracket {
  color: #f85d5d;
  display: inline-block;
  position: relative;
  bottom: -5px;
}
.header-paragraph .icon-bracket.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.img-update {
  background: url("../img/update.svg") no-repeat;
  background-size: contain;
  width: 132px;
  height: 132px;
  float: left;
  margin-bottom: 30px;
}
.header-section {
  color: #444444;
  font-size: 35px;
  clear: both;
  line-height: 35px;
}
.margin-fix {
  margin-top: 55px;
}
.header-paragraph {
  color: #f85d5d;
  font-size: 50px;
  clear: both;
  line-height: 50px;
}
.talk.textblock {
  float: left;
  margin-left: 170px;
}
.img-talk {
  background: url("../../medias/img/talk.svg") no-repeat;
  background-size: contain;
  width: 132px;
  height: 132px;
  float: left;
  margin-bottom: 30px;
}
/**
* ------------------------------------------------------------------------------
* CANADIAN SERVICE
* ------------------------------------------------------------------------------
*/
.textblock.offer {
  margin-top: 0;
  padding: 46px;
  width: calc(100% - 20%);
  float: none;
  margin: 0 auto;
  position: relative;
}
.package {
  background-image: url(../img/pattern.png);
  background: #f9f9f9;
  min-height: 100%;
  padding: 60px 0;
  position: relative;
  width: 100%;
  z-index: 9;
}
.package .inview-block {
  text-align: center;
}
.package .inview-block {
  margin-bottom: 40px;
}
.text-details-package {
  color: #444;
  font-size: 25px;
  margin: 15px 0;
}
.item-list {
  padding-left: 60px;
}
.item-list h3 {
  font-size: 25px;
  color: #f85d5d;
  margin-bottom: 28px;
}
.item-list ul li {
  padding: 0px 0 18px 22px;
  list-style: none;
  color: #444;
  font-size: 20px;
  background: url(../img/icons/check.svg) no-repeat;
  background-size: 18px 18px;
  background-position: left top;
  line-height: 20px;
}
.textblock.canadian {
  margin-top: 0;
  background-color: #f85d5d;
  padding: 46px;
  width: 540px;
  float: right;
  margin-right: 245px;
  position: relative;
}
.canadian .header-paragraph span img {
  width: 30px;
  height: auto;
  position: relative;
  top: -5px;
}
.canadian .header-paragraph {
  color: #444444;
}
.canadian .content-text {
  color: white;
  width: auto;
  margin-top: 20px;
}
/**
* ------------------------------------------------------------------------------
* HERE'S HOW TO REACH US
* ------------------------------------------------------------------------------
*/
.success-cases {
  background: #fff;
}
.section-content.contact {
  height: 645px;
  margin-top: 115px;
}
.floating-text.contact {
  width: 561px;
  float: left;
}
h2.contact {
  color: #444444;
  font-size: 62px;
}
.link-description {
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  margin: 6px 0 0 0 ;
}
.footer small {
  color: #fff;
}
.black-section {
  background: #444;
}
.copyrights small {
  color: #999999;
}
.footer {
  background: #444;
  padding: 0;
}
.contact.img-container {
  max-width: 935px;
  width: 100%;
  height: 845px;
  position: absolute;
  right: 175px;
  top: 115px;
  overflow: hidden;
  z-index: 1;
}
.contact.img-container img {
  margin-top: 0;
}
.success-cases ul {
  text-align: center;
}
.success-cases ul li {
  display: inline-block;
  margin: 30px;
}
.item-list {
  position: relative;
  opacity: 0;
  transform: scale(0);
  transition: all 1000ms ease-in-out;
}
.item-list.inview {
  opacity: 1;
  transform: scale(1);
}
.img-effect {
  position: relative;
  opacity: 0;
  transition: all 1000ms ease-in-out;
  -webkit-transition: all 1000ms ease-in-out;
  -moz-transition: all 1000ms ease-in-out;
  transform: translate(0px, -100px);
  -webkit-transform: translate(0px, -100px);
  -moz-transform: translate(0px, -100px);
}
.img-effect.inview {
  opacity: 1;
  transform: translate(0px, 0px);
}
.inview-block {
  position: relative;
  opacity: 0;
  transition: all 1000ms ease-in-out;
  transform: translate(0px, 100px);
}
.inview-block.inview {
  transform: translate(0px, 0px);
  opacity: 1;
  padding: 40px 20px 20px 20px;
}
.content-container {
  margin-top: 35px;
  width: 390px;
}
.content-container h3 {
  width: 390px;
  float: left;
  font-size: 30px;
  line-height: 30px;
}
.content-container p {
  clear: both;
}
.icon-submit {
  width: 100%;
}
/**
* ------------------------------------------------------------------------------
* FOOTER
* ------------------------------------------------------------------------------
*/
.footer .row {
  width: 100%;
  margin: 0;
}
h2.drop-us{
  font-size: 20px;
  color: #fff;
  line-height: 20px;
}
.social-container {
  margin-top: 10px;
  text-align: center;
  overflow: hidden;
  margin-left: -40px;
}
.social-container a {
  display: inline-block;
  margin-left: 40px;
}
.social-container a i {
  display: inline-block;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 10px;
  transition: .2s all;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
}
.social-container a i:hover {
  background: white;
  color: #444;
  transition: .1s all;
  -webkit-transition: .1s all;
  -moz-transition: .1s all;
}
.social-container a img {
  width: 48px;
  height: 48px;
}
.icon-social {
  width: 75px;
  height: 75px;
  background-size: contain;
  display: block;
  cursor: pointer;
}
#facebook-logo {
  background: url("../../medias/img/facebook.svg") no-repeat;
}
#facebook-logo:hover {
  background: url("../../medias/img/facebook_hover.svg") no-repeat;
}
#linkedin-logo {
  background: url("../../medias/img/linkedin.svg") no-repeat;
}
#linkedin-logo:hover {
  background: url("../../medias/img/instagram_hover.svg") no-repeat;
}
#twitter-logo {
  background: url("../../medias/img/twitter.svg") no-repeat;
}
#twitter-logo:hover {
  background: url("../../medias/img/twitter_hover.svg") no-repeat;
}