---
title: Page Not found
---

<section class="error-section">
  <div class="error-container">
    <div class="error-content">
      <h1 class="hide-mobile-fix-404">404 - Page not found... Please, choose a pill.</h1>
      <h1 class="show-mobile-fix-404">404 - Page not found</h1>
      <h3 class="show-mobile-fix-404">Left pill: Choose Reality and go Home.</h3>
      <h3 class="show-mobile-fix-404">Right pill: Choose Truth and Contact us.</h3>
    </div>
  </div>
</section>

<section class="bg-404">
  <div class="hands">
    <a href="index.html" title="Hashdog home">
      <div class="right-hand">
        <div class="popover blue-popover">
          <h3>Choose the Reality!</h3>
          <p>You can back to Home clicking here.</p>
          <div class="border-bottom border-bottom-blue"></div>
        </div>
      </div>
    </a>
    <a href="contact.html" title="Hashdog Contact page">
      <div class="left-hand">
        <div class="popover red-popover">
          <h3>Choose the Truth!</h3>
          <p>Tell us what you looking for through Contact page.</p>
          <div class="border-bottom border-bottom-red"></div>
        </div>
      </div>
    </a>
  </div>
</section>