<section class="contact-footer">
  <h2>Let's talk!</h2>
  <p>Project Manager, Designer and Developers are wating for your <strong>project</strong>.</p>

  <form method="post" id="form-contact">
    <div>
      <input type='text' name='Name' placeholder="Name" class="name" required />
    </div>
    <div>
      <input type='email' name='Email' placeholder="Email" class="email" required />
    </div>
    <textarea type='textarea' name='Message' placeholder="Message" class="message" required ></textarea>
    <button type='submit' class="submit" onclick="ga('send','event', 'Btn-article', 'Article', 'contact-success')"><span>Submit</span>   <%= image_tag 'loader-form.svg', class: 'loader-form' %></button>
  </form>

</section>