<footer <%='class="footer-404"' if current_page.path == '404.html'%>>

  <div class="footer-contact" <%='class="footer-contact hide"' if current_page.url == 'work/500-startups'%>>

    <div class="lets-work">
      <h3>Hire us, We'd love to work with you!</h3>
      <p>Send us your e-mail and we going to contact you ASAP</p>
    </div>

    <div class="quick-contact" >

      <form method="post" id="form-contact">
        <div class="group">
          <input type="email" placeholder="E-mail" name='E-mail' class="email" required>
          <div class="addon">
            <button type="submit" class="send">Send</button>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="footer-site">
    <div class="left-foot">
      <div class="list">
        <p>Service</p>
        <ul>
          <li><a href="/work" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Success cases')">Success cases</a></li>
          <li><a href="https://hashdog.com/brochure" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Brochure')">Brochure</a></li>
          <li><a href="/team" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Team')">Team</a></li>
        </ul>
      </div>

      <div class="list">
        <p>Products</p>
        <ul>
          <li><a href="/products/beerpay" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Beerpay-article')">Beerpay</a></li>
          <li><a href="/products/scrapfy" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Scrapfy article')">Scrapfy</a></li>
        </ul>
      </div>

      <div class="list">
        <p>Fun</p>
        <ul>
          <li><a href="/open-source" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Open source')">Open Source</a></li>
          <li><a href="/stack" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Stack')">Stack</a></li>
          <li><a href="/artistic" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Artistic')">Artistic</a></li>
          <li><a href="https://hashdog.io" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Factory')">Factory</a></li>
          <li><a href="https://hashdog.ninja" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Ninja dojo')">Ninja Dojo</a></li>
        </ul>
      </div>
    </div>

    <div class="right-foot">
      <%= image_tag 'images/logo-footer.svg', alt: "HashDog Software Development Agency - Full Stack Developers" %>
      <h1>Software Development Agency</h1>
      <p>2013 - 2018</p>
      <ul>
        <li><a href="https://www.facebook.com/hashdog" target="_blank" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Facebook')"><i class="icon-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/hashdogteam" target="_blank" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Twitter')"><i class="icon-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company-beta/3136167/" target="_blank" onclick="ga('send','event', 'Btn-Home', 'Footer', 'Linkedin')"><i class="icon-linkedin"></i></a></li>
      </ul>
    </div>
  </div>

</footer>

<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/2885665.js"></script>

