<div class="menu-overlay"></div>

<div class="menu">

  <div class="float-menu start">
    <header>
      <a href="/" title="HashDog Software Development Company - Full Stack Developers"><%= image_tag 'images/logo-sym.svg', alt: "HashDog Software Development Company - Full Stack Developers"  %></a>
    </header>

    <ul>
      <li><a href="#home" class="helperClick" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Home')">Home</a></li>
      <li><a href="#success" class="helperClick" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Success-cases')">Success Cases</a></li>
      <li><a href="#products" class="helperClick" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Products')">Products</a></li>
      <li><a href="#team" class="helperClick" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Team')">Team</a></li>
      <li><a href="/open-source" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Open-source')">Open Source</a></li>
      <li><a href="https://blog.hashdog.com" target="_blank" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'blog')">Blog</a></li>
      <li><a href="https://hashdog.com/brochure" target="_blank" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Brochure')">Brochure</a></li>
      <li><a href="/hire-us" onclick="ga('send','event', 'Btn-Home', 'Menu-nav', 'Start project with us')">Start a project with us</a></li>
    </ul>

  </div>
</div>

<section class="nav">

  <div class="btn-menu-container">
    <div>
      <a href="#" class="btn-menu" onclick="ga('send','event', 'Btn-Home', 'Menu', 'Menu')">
        <span></span>
      </a>
    </div>
  </div>

  <div class="logo-section">
    <a href="/" class="logo-rocks">
      <div class="logo-mobile"></div>
    </a>
  </div>

  <div class="contact-section-2">
    <div>
      <a href="/hire-us" class="btn-base contact-btn" onclick="ga('send','event', 'Btn-Home', 'header', 'Start project with us')"><%= image_tag 'images/at.svg', alt:"Hire us - Full Stack Developers", class:"at" %><span>Start a project with us</span></a>
    </div>
  </div>
</section>
