<section class="navegation">
  <div class="head-container">
    <div class="menu-container">
      <a href="#" class="menu-mobile"><i class="icon-menu"></i></a>
      <a href="#" class="menu-tablet">Menu</a>
    </div>
    <div class="logo-container">
      <a href="/" class="logo"></a>
    </div>
    <nav>
      <ul>
        <li><a href="/work" <%='class="active"' if current_page.url == '/work/'%>><i class="icon-left-bracket"></i>Work<i class="icon-right-bracket"></i></a></li>
        <li><a href="/products" <%='class="active"' if current_page.url == '/products/'%>><i class="icon-left-bracket"></i>Products<i class="icon-right-bracket"></i></a></li>
        <li><a href="/open-source" <%='class="active"' if current_page.url == '/open-source/'%>><i class="icon-left-bracket"></i>Open Source<i class="icon-right-bracket"></i></a></li>
        <li><a href="/services" <%='class="active"' if current_page.url == '/services/'%>><i class="icon-left-bracket"></i>Services<i class="icon-right-bracket"></i></a></li>
        <li><a href="https://blog.hashdog.com" target="_blank"><i class="icon-left-bracket"></i>Blog<i class="icon-right-bracket"></i></a></li>
      </ul>
    </nav>
    <div class="contact-header-container">
      <a href="/contact" class="contact-btn">Contact</a>
      <a href="/contact" class="contact-mobile"><i class="icon-email"></i></a>
    </div>
  </div>
</section>
<div class="brochure-link">
  <div class="iron"></div>
  <a href="/brochure" class="tooltip-tipsy" title="Play Brochure">
    <div class="brochure-icon">
      <span class="line-1"></span>
      <span class="line-2"></span>
      <span class="line-3"></span>
    </div>
  </a>
</div>
<div class="navegation-height"></div>

<!--

MOBILE MENU

-->
<div class="showing-menu">
  <ul>
    <li class="position-center"><a href="/"><i class="icon-home"></i></a></li>
    <li class="position-top"><a href="/work"><i class="icon-briefcase"></i> Work</a></li>
    <li class="position-right"><a href="/products"><i class="icon-products"></i> Products</a></li>
    <li class="position-bottom"><a href="open-source"><i class="icon-open-source"></i> Open Source</a></li>
    <li class="position-left"><a href="/services"><i class="icon-services"></i> Services</a></li>
  </ul>
</div>
