---
title: Artistic HashDog
---

<section class="work-section">
  <div class="bg-artistic"></div>
  <div class="bg-artistic-2"></div>
  <div class="work-container">
    <div class="work-content">
      <h1>Artistic hashdog</h1>
      <p>We like smiles, so we decided create Wallpapers of our Doggers with a touch of humor. And if you want something more serious please take one too!</p>
    </div>
  </div>
</section>

<section class="gallery-style">
  <div class="container-fluid">
    <% Dir[File.dirname(__FILE__) + '/images/gallery-art/wallpaper/*.jpg'].each do |file| %>
      <a href=<%= "../images/gallery-art/wallpaper/#{File.basename(file)}" %> data-lity class="thumb-link">
        <img src=<%= "../images/gallery-art/wallpaper/thumb/#{File.basename(file)}" %> class="thumbnail">
      </a>
    <% end %>
  </div>
</section>