---
title: Hashdog Gallery
---

<section class="work-section">
  <div class="bg-artistic"></div>
  <div class="bg-gallery"></div>
  <div class="work-container">
    <div class="work-content">
      <h1>Hashdog Gallery</h1>
      <p>Let me introduce some of the best moments captured in hashdog!</p>
    </div>
  </div>
</section>

<section class="gallery-style">
  <div class="container-fluid">
    <% Dir[File.dirname(__FILE__) + '/images/gallery-art/usa-trip-2016/*.jpg'].each do |file| %>
      <a href=<%= "../images/gallery-art/usa-trip-2016/#{File.basename(file)}" %> data-lity class="thumb-link">
        <img src=<%= "../images/gallery-art/usa-trip-2016/thumb/#{File.basename(file)}" %> class="thumbnail">
      </a>
    <% end %>
  </div>
</section>