---
title: "Contact Hashdog Agency"
---

<section class="contact-section">
  <div class="contact-container">
    <div class="contact-content">
      <h1>Hire us!</h1>
      <p>We’d love to work with you!</p>
    </div>
  </div>
</section>

<section class="contact-us-info">

  <div class="contact-details">

    <div class="contact-box">


      <h1>Hire us to help you build excellent software</h1>
      <form method="post" id="form-contact">
        <input type='text' name='Name' placeholder="Name" class="name" required />
        <input type='email' name='Email' placeholder="Email" class="email" required />
        <textarea type='textarea' name='Message' placeholder="Message" class="message" required ></textarea>
        <button type='submit' class="submit" onclick="ga('send','event', 'Btn-success', 'Success', 'Contact-Submit')"><span>Submit</span> <%= image_tag 'loader-form.svg', class: 'loader-form' %></button>
      </form>

      <p><i class="icon-mobile"></i> +1 650 681 9762 | Palo Alto - California</p>
      <p><i class="icon-phone"></i> +54 381 4127792 | Argentina</p>
      <p><i class="icon-skype"></i> claudiocebpaz</p>

    </div>

    <div class="contact-box text-center">
      <img src="/images/contact-dogger.png" alt="">
    </div>

  </div>
</section>

<div class="modal">
  <div class="modal-body">
    <a href="#" class="close">X</a>
    <p class="modal-title">Thanks for contact us!</p>
    <p class="modal-text">We going to reply as soon as we can! <br> <span> Hurry? Please call us to <a href="tel:+16506819762">+16506819762</a></span></p>
    <small>- Hash<span>d</span>og Team</small>
  </div>
</div>

<div class="backover"></div>