---
title: Hashdog's Open Source Technologies
---

<section class="opensource-section">
  <div class="laptop"></div>
  <div class="opensource-container">
    <div class="opensource-content">
      <h1>Open Source</h1>
      <p>The open source makes the internet a better, more inclusive place to be around. We love that. That’s what we work and live for. This is our contribution to it.</p>
    </div>
  </div>
</section>

<section class="opensource-containerList">

  <div class="opensource-list">

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span>
          <img src="/images/opensource/ruby.png" alt="Ruby">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/api_gem_skel" target="_blank">Api Gem Skel</a>
        <p> Api template for gn, the file generator.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/nodejs.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/node-identicon-github" target="_blank">Identicon GitHub</a>
        <p>Create indenticon-like image hashes styled like Github and Gravatar (retro) avatars.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/mongo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/mongoid-simple-tags" target="_blank">MongoID Tags</a>
        <p>Basic tagging system for mongoid, using map-reduce function.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/atom-logo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/scrapfy-atom" target="_blank">Atom Plugin</a>
        <p>This is a simple plugin for Atom that allows you to easily paste code to SCRAPfy, our collaborative code editor.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/chrome-logo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/scrapfy-chrome-extension" target="_blank">Chrome extension</a>
        <p>This is a simple extension for Chrome that adds a button with multiple SCRAPfy options.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/elasticsearch.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/ohm-elasticsearch" target="_blank">Ohm Elasticsearch</a>
        <p>Ruby implementation for Elasticsearch and OHM.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/cuba-logo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/cuba_skel_api" target="_blank">Hashdog Demo Api</a>
        <p>A Skel for creating APIs using Cuba.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/doggerjs-logo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/doggersjs" target="_blank">DoggerJS</a>
        <p>Focus on what really matters. DoggerJS allows you to work just in your code. No extra effort.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/ruby.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/rubychimp" target="_blank">Rubychimp</a>
        <p>A wrapper around mailchimp API.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/ruby.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/sinatra-cucumber-rspec-2-template" target="_blank">Sinatra Cucumber</a>
        <p>Basic template for using Cuba with Rspec and Cucumber.</p>
      </div>
    </div>

    <div class="opensource-item">
      <div class="opensource-logo">
        <div class="bg-opensource-logo">
          <span class="helper"></span><img src="/images/opensource/freshbooks-logo.png" alt="">
        </div>
      </div>
      <div class="opensource-description">
        <a href="https://github.com/hashdog/node-freshbooks-api" target="_blank">Freshbooks API</a>
        <p>A node.js wrapper for FreshBooks' API.</p>
      </div>
    </div>

  </div>
</section>