---
title: Hashdog's Products
---

<section class="products-section">
  <div class="each"></div>
  <div class="products-container">
    <div class="products-content">
      <h1>Products</h1>
      <p>Making the Wide World a <strong>better</strong> web place!</p>
    </div>
  </div>
</section>

<div id="products" class="product-list product-page">
  <div class="container">

    <div class="item-product">
      <a href="/products/beerpay/">
        <%= image_tag 'images/beerpay.svg' %>
      </a>
      <h3>Beerpay</h3>
      <h4>Where awesome software get supported</h4>
      <a href="/products/beerpay/" class="btn btn-base second">More</a>
      <span class="mobile-divisor"></span>
    </div>

    <div class="item-product">
      <a href="/products/scrapfy/">
        <%= image_tag 'images/scrapfy.svg' %>
      </a>
      <h3>Scrapfy</h3>
      <h4>Colaborative tool for developers</h4>
      <a href="/products/scrapfy/" class="btn btn-base third">More</a>
    </div>

  </div>
</div>
