---
title: Hashdog's Services
---

<section class="services-section text-center">
  <div class="solution"></div>
  <div class="services-container">
    <div class="services-content">
      <h1>Two services to fit them all</h1>
      <p>Whether you are a software development company in need of more devs to add to your staff, or an up-and-coming startup looking for a technological solution, we’ve got you covered! Take a look at one of our services for each case below.</p>
    </div>
  </div>
</section>

<section class="services-containerList">

  <div class="services-list">

    <div class="brochure-service">
      <a href="http://www.hashdog.com/brochure" target="_blank" class="link-to link-to-salmon"><i class="icon-routed icon-link icon-secondary"></i> Take a trip in our Brochure!</a>
    </div>
    <div class="services-box">
      <h1>Startups package</h1>
      <p>Get your project’s MVP up and running in two months!</p>
      <img src="/images/works/startups.jpg" alt="">
      <a href="http://www.hashdog.com/startups" target="_blank" class="btn-service">More info</a>
    </div>

    <div class="services-box">
      <h1>Staffing/devforce package</h1>
      <p>Hire developers experienced in multiple technologies, with a strong focus on Ruby on Rails.</p>
      <img src="/images/works/business.jpg" alt="">
      <a href="http://www.hashdog.com/business" target="_blank" class="btn-service">More info</a>
    </div>

  </div>

</section>