---
title: Hashdog's Open Source Technologies
---

<section class="opensource-section">
  <div class="laptop"></div>
  <div class="opensource-container">
    <div class="opensource-content">
      <h1>Open Source Stack</h1>
      <p>Our open source stack  makes the internet a better, more inclusive place to be around. And we love it.</p>
    </div>
  </div>
</section>

<section class="opensource-containerList">

  <div class="opensource-list openslack-list">

    <h2 class="title">Back-end</h2>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/ruby.png" alt="">
      </div>
      <h3>Ruby</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/rubyonrails.png" alt="">
      </div>
      <h3>Rails</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/middleman.png" alt="">
      </div>
      <h3>Middleman</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/sinatra_padrino.png" alt="">
      </div>
      <h3>Sinatra</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/nodejs.png" alt="">
      </div>
      <h3>NodeJS</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/mysql.png" alt="">
      </div>
      <h3>MySQL</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/postgresql.png" alt="">
      </div>
      <h3>PostgreSQL</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/redis.png" alt="">
      </div>
      <h3>Redis</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/php.png" alt="">
      </div>
      <h3>PHP</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/chef.png" alt="">
      </div>
      <h3>Chef</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/circleci.png" alt="">
      </div>
      <h3>CircleCI</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/mongo.png" alt="">
      </div>
      <h3>Mongo</h3>
    </div>


    <h2 class="title">Front-end</h2>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/middleman.png" alt="">
      </div>
      <h3>Middleman</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/bourbonneat.png" alt="">
      </div>
      <h3>Bourbon.neat</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/foundation.png" alt="">
      </div>
      <h3>Foundation</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/html5.png" alt="">
      </div>
      <h3>HTML5</h3>
    </div>


    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/css3.png" alt="">
      </div>
      <h3>CSS3</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/ember.png" alt="">
      </div>
      <h3>Ember</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/bootstrap.png" alt="">
      </div>
      <h3>Bootstrap</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/angular.png" alt="">
      </div>
      <h3>Angular</h3>
    </div>

    <div class="openstack-item">
      <div class="bg-ourslack">
        <img src="/images/opensource/jquery.png" alt="">
      </div>
      <h3>JQuery</h3>
    </div>

  </div>
</section>