---
title: Hashdog's Team
---

<section class="team-section">

  <div class="team-container">
    <div class="team-content original">
      <i class="icon-team"></i>
      <h1>Meet the Team</h1>
      <div class="little-about-us">
        <p class="text-title">We are a community of friendly, open-minded, collaborative and professionally growing people.</p>
      </div>
      <ul class="ceos">
        <li>
          <div class="member">
            <img src="/images/team/claudio.jpg" alt="Claudio Ceballos Paz">
          </div>
          <div class="name-role">
            <h2>Claudio</h2>
            <p>CEO</p>
            <i>"Life is a unique opportunity"</i>
          </div>
        </li>
        <li>
          <div class="member">
            <img src="/images/team/mauro.jpg" alt="Mauro Torres">
          </div>
          <div class="name-role">
            <h2>Mauro</h2>
            <p>CINO</p>
            <i>"We're son of life"</i>
          </div>
        </li>
        <li>
          <div class="member">
            <img src="/images/team/agustin.jpg" alt="Agustin Giuggiolini">
          </div>
          <div class="name-role">
            <h2>Agustín</h2>
            <p>CTO</p>
            <i>"Hard work. Simple code"</i>
          </div>
        </li>
      </ul>


      <div class="team-role">
        <ul>

          <li>
            <div class="member">
              <img src="/images/team/sergio.jpg" alt="Sergio Arriagada">
            </div>
            <div class="name-role">
              <h2>Sergio</h2>
              <p>Ruby On Rails Dev</p>
              <i>"God bless you"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/rafael.jpg" alt="Alejandro Rafael Lizardo Celiz">
            </div>
            <div class="name-role">
              <h2>Rafael</h2>
              <p>Ruby On Rails Dev</p>
              <i>"Give me six strings and I'll be happy"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/adrian.jpg" alt="Adrian Patania">
            </div>
            <div class="name-role">
              <h2>Adrian</h2>
              <p>Ruby On Rails Dev</p>
              <i>"You should try Mates!"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/fernando.jpg" alt="Fernando Tripicchio">
            </div>
            <div class="name-role">
              <h2>Fernando</h2>
              <p>Ruby on Rails Dev</p>
              <i>"Take it easy and the code will work"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/mario.jpg" alt="Mario Colque">
            </div>
            <div class="name-role">
              <h2>Mario</h2>
              <p>Javascript Dev</p>
              <i>"Let it be"</i>
            </div>
          </li>


          <li>
            <div class="member">
              <img src="/images/team/emiliano.jpg" alt="Emiliano Fernandez">
            </div>
            <div class="name-role">
              <h2>Emiliano</h2>
              <p>Javascript Dev</p>
              <i>"Just smile and you will be better"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/franco.jpg" alt="Franco Alvarez">
            </div>
            <div class="name-role">
              <h2>Franco</h2>
              <p>Multimedia Designer</p>
              <i>"Smile, it's free yet"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/hernan.jpg" alt="Hernan Bordon">
            </div>
            <div class="name-role">
              <h2>Hernán</h2>
              <p>Project Manager</p>
              <i>"Just smile"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/adriana.jpg" alt="Adriana Moreno">
            </div>
            <div class="name-role">
              <h2>Adriana</h2>
              <p>Human Resources</p>
              <i>"Understanding life"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/gaston.jpg" alt="Gaston Centeno">
            </div>
            <div class="name-role">
              <h2>Gastón</h2>
              <p>Human Resources</p>
              <i>"Heart stunned with silence"</i>
            </div>
          </li>

          <li>
            <div class="member">
              <img src="/images/team/emilia.jpg" alt="Emi Leiva">
            </div>
            <div class="name-role">
              <h2>Emilia</h2>
              <p>Head Cheff</p>
              <i>"Freedom!"</i>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>

</section>