---
title: Hashdog's Team
---

<section class="team-section color">

  <div class="team-container">

    <div class="team-content color">
      <h1 class="title-team">Design and development, strong communication and agile methods, Ruby on Rails and React Native</h1>
      <p>More than 13 years of experience working with great clients all over the world taught us commitment and agile methods to achieve <strong>your goal</strong>. <br> We are a community of friendly, open-minded, collaborative and professionally growing people.</p>

      <h2 class="subtitle-team">We'd love to work with you!</h2>
      <p>Project managers, Multimedia designers, UI/UX Experts, Developers and Engeneers are waiting for you!</p>

      <div class="quick-contact" >

        <form method="post" id="form-contact">
          <div class="group">
            <input type="email" placeholder="We going to contact you ASAP!" name='E-mail' class="email" required>
            <div class="addon">
              <button type="submit" class="send">Let's chat!</button>
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="collage-team-section">
      <%= image_tag '/images/team/team-collage.jpg', alt: "Staff" %>
    </div>

  </div>

</section>