---
title: Hashdog's Work
---

<section class="work-section">
  <div class="bg-uiux"></div>
  <div class="work-container">
    <div class="work-content">
      <h1>UI/UX Work</h1>
      <p>Users come first. We make clean, beautiful designs to create smooth experiences.</p>
    </div>
  </div>
</section>

<section class="work-list">
  <div class="work-list-container">

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/el-desafio.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">El Desafio</h2>
        <h2 class="work-subtitle">GAME FOR HISTORY CHANNEL</h3>
        <p>A card game developed for The History Channel. The cards have different models of cars, and the users compete using the properties of those cars, like acceleration or max. speed. The system gives cards randomly to users and cpus and chooses the winners comparing those properties.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="AngularJS"><i class="icon-angular"></i></li>
        </ul>

        <a target="_blank" href="http://desafiohistory.com" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/doughbies.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Doughbies</h2>
        <h2 class="work-subtitle">Cookie Delivery System</h3>
        <p>Website to take orders from users and deliver cookies on their physical adresses.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
        </ul>

        <a target="_blank" href="https://www.doughbies.com/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/taxback.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Tax Back</h2>
        <h2 class="work-subtitle">Recover usa tax</h3>
        <p>You will find everything from products to gems and general work.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>

        <a target="_blank" href="http://recuperotax.com/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/scrapfy.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">ScrapFY</h2>
        <h2 class="work-subtitle">Collaborative code editor</h3>
        <p>Work simultaneously in your ScrapCode with your team, wherever you are.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="http://scrapfy.io/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/doggerjs.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">DoggerJS</h2>
        <h2 class="work-subtitle">JS Framework</h3>
        <p>Focus in what really matters. DoggerJS allows you to work just in your code. No extra effort..</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="https://doggerjs.com/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/brochure.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Hashdog Brochure</h2>
        <h2 class="work-subtitle">How we work</h3>
        <p>Take a trip through our company.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="http://hashdog.com/brochure/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/newyear.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Happy 2015!</h2>
        <h2 class="work-subtitle">Happy new Year!</h3>
        <p>Hashdog wish you a successful 2015 - Developers, Designers, RRHH and everyone wish you a successful 2015.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="http://hashdog.com/newyear/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/hashdogio.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Hashdog.io</h2>
        <h2 class="work-subtitle">Software Development Agency</h3>
        <p>You will find everything from products to gems and general work.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="https://hashdog.io/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/hashdogninja.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Hashdog.ninja</h2>
        <h2 class="work-subtitle">Team</h3>
        <p>Our ninja developers in one place.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="https://hashdog.ninja" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/startups.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Startups</h2>
        <h2 class="work-subtitle">Hashdog's service</h3>
        <p>We are the solution for every startup.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="http://hashdog.com/startups/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>


    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/business.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Business</h2>
        <h2 class="work-subtitle">Hashdog's service</h3>
        <p>We have experience staffing development companies all over the world.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
        <a target="_blank" href="http://hashdog.com/business/" class="contact-btn position-fix">Visit site</a>
      </div>
    </div>

    <div class="work-list-content">
      <div class="image-section-float">
        <img src="/images/works/healthline.jpg" alt="">
      </div>
      <div class="text-section-float">
        <h2 class="work-title">Healthline</h2>
        <h2 class="work-subtitle">Game App</h3>
        <p>Provider of health information and technology solutions. We made a guessing game app with medical concepts for medicine professionals.</p>
        <ul>
          <li class="tooltip-tipsy" title="Rails"><i class="icon-rails"></i></li>
          <li class="tooltip-tipsy" title="Ruby"><i class="icon-ruby"></i></li>
          <li class="tooltip-tipsy" title="Bootstrap"><i class="icon-bootstrap"></i></li>
          <li class="tooltip-tipsy" title="JQuery"><i class="icon-jquery"></i></li>
        </ul>
      </div>
    </div>

  </div>
</section>