---
title: Hashdog's Work
---

<% content_for :head do %>
  <%= javascript_include_tag  "jquery.tipsy" %>
<% end %>

<section class="work-section">
  <div class="briefcase"></div>
  <div class="work-container">
    <div class="work-content">
      <h1>Success cases</h1>
      <p>It’s tough picking your best clients, but it’s definitely worth it! This section exists thanks to the companies who trusted in our partnership.</p>
    </div>
  </div>
</section>

<div id="success" class="success-cases">
  <div class="container">

    <div class="success-item">
      <a href="/works/500-startups">
        <%= image_tag 'images/client-logos/500startup.svg' %>
      </a>
      <h3>500 Startups</h3>
      <p>- We worked together with mentees and mentors to achieve the acceleration goals -</p>
      <a href="/works/500-startups" class="btn btn-base third">More</a>
      <span class="mobile-divisor"></span>
    </div>

    <div class="success-item">
      <a href="/works/copernicus-develops">
        <%= image_tag 'images/client-logos/copernicus-develops.svg' %>
      </a>
      <h3>Copernicus Develops</h3>
      <p>- Project management, Product Development, Design and Website entirely - </p>
      <p>- Bussines and Product Management entirely in USA -</p>
      <a href="/works/copernicus-develops" class="btn btn-base">More</a>
      <span class="mobile-divisor"></span>
    </div>

    <div class="success-item">
      <a href="/works/hirolabs/">
        <%= image_tag '/images/client-logos/hirolabs.svg' %>
      </a>
      <h3>Hirolabs</h3>
      <p>- Four years partnership -</p>
      <p>- More than 20 succesfully projects togheter -</p>
      <p>- One <strong>Google Ventures</strong> adquisition -</p>
      <a href="/works/hirolabs/" class="btn btn-base second">More</a>
    </div>

  </div>

</div>